[2017-06-19 15:59] iteles commented on #286
Can we also double check that if we go to dwyl.io it also captures data correctly (I assume it does because it'll redirect to .com, but worth checking).

[2017-06-19 16:02] Cleop commented on #282
Thanks @markwilliamfirth  - when you say 'Our Mission', would you like this to replace the values page? or just take the dictionary bit from the values page and the rest of the values page exist separately?

Also, how would you like this to look on mobile for the mobile navbar as that already drops down vertically?

[2017-06-19 16:13] markwilliamfirth commented on #282
Yes - let's move that page under this umbrella

Let's call them:

Mission & Values
Our Community
Meet the Team

^This will likely evolve - we might have a partnerships section in future for example

Happy for hear feedback from you or @harrygfox here with regards the infrastructure architecture

This is a good solution for now:
<img width="482" alt="screen shot 2017-06-19 at 17 09 53" src="https:/

[2017-06-19 16:25] markwilliamfirth commented on #280
**Online Databank for Museum Collections**
Client: The Science Museum Group (SMG)
Project: Collections Online
Application: https://collection.sciencemuseum.org.uk/
Source: https://github.com/TheScienceMuseum/collectionsonline

**Start Date:**
14 Jun 2016 - 31 Oct 2016 (Sprint 1 - 10)
28 Nov 2016 - 9 Dec 2016 (Sprint 11)*
May 2017 - May 2017 (Sprint 12)*
*Additional sprints are commissioned to buil

[2017-06-19 16:25] Cleop commented on #286
It captures you if you come from .io however let me know if you'd like me to create a separate issue if you'd like to know what proportion of people come from .io if you feel that's important/ useful to us.

[2017-06-19 16:26] markwilliamfirth commented on #280
**Data Collection & Graphical Data Representation**
Client: Inclusive Classrooms
Project: Skills Wheel
Application: Offline
Source: https://github.com/InclusiveClassrooms/skills-wheel

**Start Date:**
Feb 2016 - Feb 2016 (Sprint 1)
Mar 2017 - Mar 2017 (Sprint 2 - 3)*
*Additional sprints are commissioned to build additional functionality based on user feedback
End Date: Mar 2017
Project Length: 6 w

[2017-06-19 16:28] markwilliamfirth commented on #280
**Online Membership Platform**
Client: The Ellen MacArthur Foundation (EMF)
Project: CE100
Application: https://www.ellenmacarthurfoundation.org/ce100
Source: https://github.com/emfoundation/ce100-app

**Start Date:**
Sep 2016 - Oct 2016 (Sprint 1 - 2)
Dec 2016 - Jan 2017 (Sprint 3 - 4)*
Feb 2017 - Feb 2017 (Sprint 5)*
May 2017 - May 2017 (Sprint 6)*
*Additional sprints are commissioned to build a

[2017-06-19 16:32] markwilliamfirth commented on #280
With regards to the lists of technologies, let's not do these as a list. Let's do them as a row of tech icons:
<img width="628" alt="screen shot 2017-06-19 at 17 31 48" src="https://user-images.githubusercontent.com/5732209/27295562-3e7b8734-5515-11e7-95ef-30aeffc7c9e6.png">
<img width="643" alt="screen shot 2017-06-19 at 17 31 35" src="https://user-images.githubusercontent.com/5732209/27295564-3e

[2017-06-20 09:42] markwilliamfirth commented on #220
Let's go with the dynamic form then!

@cleop form works using this https://github.com/dwyl/html-form-send-email-via-google-script-without-server I think

**General Enquiry** - Name, Email, Message

**Digital Product Development** - the above plus Budget and Timelines questions

**Coworking** - a link to Focus Hub appears and form changes to ask:
When would you like to come for a free tour? (text b

[2017-06-20 10:18] Cleop commented on #220
So would you like the first field to just be - What's your enquiry about? (with nothing visible underneath or with the compulsory fields visible already underneath?)

[2017-06-20 10:37] Cleop commented on #286
I'm going to close this issue as our data is now back!
![image](https://user-images.githubusercontent.com/16775804/27329227-c72bbb70-55ac-11e7-9c11-c42fe3d40ee9.png)

[2017-06-20 10:37] #286 closed

[2017-06-20 11:53] markwilliamfirth commented on #220
So there should be a dropdown box that is set by default to "General Enquiry". If people want to click on it they are able to change it to one of the other more specific enquiries. This way we have the best of both worlds - a simple completely minimalist form that with very low barrier to complete, as well as a more detailed form for those customers who are willing to be more specific with their e

[2017-06-20 17:59] harrygfox commented on #280
Brilliant, @markwilliamfirth , thanks!

[2017-06-20 18:28] harrygfox commented on #282
@markwilliamfirth I've had a good old think about this (again, thanks for everything you've put in to it) and here's the long/short of it:

- **Fewer links in the navbar is generally a good thing for conveying a clear 'call to action'** - ours, right now, being 'sign up'. My understanding from the last design meeting I attended was that streamlined focus on the goal du jour is a necessary business

[2017-06-21 08:23] markwilliamfirth commented on #282
@harrygfox happy for you to override any design decisions above as you are the Design Lead - do you know when @cleop can expect the final site designs? She's currently in active development, so would be good if we could get them to her soon.

[2017-06-21 13:42] markwilliamfirth commented on #279
Tested 👍

[2017-06-21 13:42] #279 closed

[2017-06-21 13:43] markwilliamfirth commented on #278
Tested 👍

[2017-06-21 13:43] #278 closed

[2017-06-21 13:43] markwilliamfirth commented on #277
Tested 👍

[2017-06-21 13:43] #277 closed

[2017-06-21 13:55] markwilliamfirth commented on #276
Tested 👍

[2017-06-21 13:55] #276 closed

[2017-06-21 13:55] markwilliamfirth commented on #275
Tested 👍

[2017-06-21 13:55] #275 closed

[2017-06-21 13:56] markwilliamfirth commented on #272
Tested 👍

[2017-06-21 13:56] #272 closed

[2017-06-21 13:56] markwilliamfirth commented on #267
Tested 👍

[2017-06-21 13:56] #267 closed

[2017-06-21 13:58] Cleop commented on #288
I'm going to work on mine now. Having had a little read of the buffer link, some recurring themes are:

- What do you do at dwyl?
- Why do you like working at dwyl? in particular, what about the culture?
- What do you like to do when you're not at dwyl? ie. hobbies / passions

[2017-06-21 14:00] markwilliamfirth commented on #255
My suggestion would be for the word in the sentence to change as the user scrolls past, but this is a design decision and so it belongs to @harrygfox

[2017-06-21 14:01] markwilliamfirth commented on #251
Tested 👍

[2017-06-21 14:01] #251 closed

[2017-06-21 14:02] markwilliamfirth commented on #236
Tested 👍

[2017-06-21 14:02] #236 closed

[2017-06-21 15:47] harrygfox commented on #255
I've had an idea @markwilliamfirth which I think this could be a nice balance between the super-technically simple and the more attractive/engaging
![ezgif com-optimize 3](https://user-images.githubusercontent.com/7805691/27393442-3e6702f4-56a1-11e7-8e60-a2eaf7a9d403.gif)
Imaging the pands are the words `make` and `be`
what do you reckon?

[2017-06-21 18:30] markwilliamfirth commented on #255
To be more clear about my suggestion before, it would be something like this:
https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_css_scrolltop_class

This appears to be more of a background layer repeatable image trick
@harrygfox happy for you to decide - certainly worthy of testing I think 👍

[2017-06-21 20:59] harrygfox commented on #255
Right, I understand your suggestion. My concern for the need for "the super-technically simple" was to avoid any use of javascript of _newer_ css properties. Moreover, the purpose of having the `make` and `be` fight over the same space on the screen is to represent the duality of our roles with clients: one as a service provider, another as an expert team-member/trainer. For this reason I don't th

[2017-06-21 23:03] harrygfox commented on #268
@Cleop I've checked all the colours for AAA standard and the black on white and white on black are the best in terms of contrast ratio.
This is how I hope the menus to work and look:
https://projects.invisionapp.com/d/main#/console/11013483/240170538/inspect

[2017-06-22 09:00] markwilliamfirth commented on #255
@harrygfox this is almost poetic ✍️
This is up to you! Please make a horse 🐴 , we don't want to end up with a [camel](https://en.wiktionary.org/wiki/a_camel_is_a_horse_designed_by_a_committee) 🐫 .

[2017-06-22 12:42] markwilliamfirth commented on #89
Closing in favour of #280 #281

[2017-06-22 12:42] #89 closed

[2017-06-23 09:58] Cleop opened #289 "Redesign: Create Community Page"
Designs from @harrygfox:
<img src="https://user-images.githubusercontent.com/16775804/27476950-90967c14-5802-11e7-80be-4f07cabe5292.png" width=500px />

- [x] Banner image
- [x] White section
- [x] Title
- [x] Subtext
- [x] Countries para
- [x] Join us button
- [x] Add github logo to button
- [x] Core team <p> with link
- [x] Regular page setup with navbar, contact us and footer
- [x] Mobile and d

[2017-06-23 10:36] iteles commented on #289
How do people navigate to this page?

[2017-06-23 11:32] harrygfox commented on #289
@iteles from the About page

[2017-06-23 11:42] markwilliamfirth commented on #289
love the community banner @harrygfox

thanks @nelsonic for making this 🌈 👌

[2017-06-23 11:44] Cleop opened #291 "Redesign: Create Portfolio Page"
Create the first of our portfolio pages (EMF)
<img src="https://user-images.githubusercontent.com/16775804/27480814-9c8e8e6c-5811-11e7-9c6e-6795506f561f.png" width=400px />

- [x] Top white banner section with logo and titles x 2,
- [x] shadow on bottom of first section
- [x] White body section
- [x] 1 column for app images
- [x] 1 column for copy
- [x] 2 buttons to App and Code
- [x] Copy paras
-

[2017-06-23 11:46] markwilliamfirth commented on #291
@harrygfox nice designs 👌

[2017-06-23 19:43] iteles opened #293 "Redesign: Thank you for contacting us message"
At the moment in the redesign when a message is sent via the contact form, we get this:
<img width="674" alt="screen shot 2017-06-23 at 20 39 21" src="https://user-images.githubusercontent.com/4185328/27497870-90d18690-5854-11e7-9157-e95d90ae9694.png">

The styling here probably needs some more thought! Even if it's just moving the second sentence onto a separate line.

[2017-06-26 11:54] Cleop opened #294 "Font weight is lighter compared to Invision designs"
Montserrat font used from google fonts can be downloaded at different font weights. Currently it is downloaded at default however, when thickening it to `font-weight: 900` using tachyons, it is still not replicating the thickness of some of @harrygfox's designs. If however, I alter the link that's being used to access it then this can be changed. However, I will have to go around and alter the ele

[2017-06-26 11:56] markwilliamfirth commented on #289
@Cleop how do I access this?
<img width="338" alt="screen shot 2017-06-26 at 12 56 17" src="https://user-images.githubusercontent.com/5732209/27538226-e31fe5ec-5a6e-11e7-9eb8-e88e02a633ee.png">
<img width="1219" alt="screen shot 2017-06-26 at 12 56 07" src="https://user-images.githubusercontent.com/5732209/27538225-e31f26fc-5a6e-11e7-835b-9646b69ac20a.png">

[2017-06-26 12:11] markwilliamfirth commented on #294
<img width="626" alt="screen shot 2017-06-26 at 13 07 01" src="https://user-images.githubusercontent.com/5732209/27538543-6008cd98-5a70-11e7-995a-8c42701401dd.png">

Perhaps use a bolder version of the Montserrat for these parts (not sure if this is a viable solution)? Whatever makes more sense - let's try and get as close to Harry's designs as possible, but if pixel perfect will take significant

[2017-06-26 12:17] ghost opened #295 "Interactive Community Banner"
Building on https://github.com/dwyl/dwyl-site/issues/289

Let's explore some ideas around making the static-image community banner more interactive. Perhaps moving / live / animated / linking to people's profiles?

This is a stretch goal to be actioned after initial site design has been pushed up

[2017-06-26 12:17] markwilliamfirth commented on #289
Inês just informed me it's http://127.0.0.1:8000/redesign/community.html

Looks good 👍

Low-priority stretch goal for after site is published: https://github.com/dwyl/dwyl-site/issues/295

[2017-06-26 12:17] #289 closed

[2017-06-26 14:49] Cleop opened #296 "Redesign: Case Study pages: how to show the mobile screens on mobile view"
How should the mobile app demos be shown on mobile screens?
**Full size means it's readable but takes up almost the entire iPhone 5 screen:**
<img src="https://user-images.githubusercontent.com/16775804/27544007-cbb63478-5a83-11e7-866f-64fe7bf0311d.png" width=200px />
**Smaller means it takes up less space but isn't very readable (obviously would be centred):**
<img src="https://user-images.github

[2017-07-03 15:32] harrygfox commented on #296
Here is an example of a combination of uses http://www.inktrap.co.uk/work/nomorefiling

This site uses full screenshots 3 in a row as well as larger cropped acreenshots and animated gifs of notable interactions

[2017-07-04 10:42] markwilliamfirth commented on #296
@harrygfox happy for you to decide here 👍

[2017-07-04 11:08] harrygfox commented on #296
@markwilliamfirth @Cleop Let's start small (in content terms) and grow from there. We currently only have two, maybe three screenshots per portfolio piece so let's just try to display those as cleanly and clearly as possible. We can come back later when there's time and money and improve with more variation and animation etc.
I'd be tempted to go bold and big, @Cleop. Make them full sized and forc

[2017-07-04 11:12] harrygfox commented on #294
I 100% concur @markwilliamfirth Progress over pixel perfection

[2017-07-10 09:53] iteles opened #297 "Create low fidelity wireframes for remaining dwyl site pages"
As a developer working on the dwyl site and who already has a style guide as well as several high fidelity designed pages, I would like to have some wireframes for the remaining pages asap so that I can get going with building these and launching the site.

@harrygfox As discussed, these will then be reviewed by you from a design standpoint and refined once the MVP is built :+1:
Please feel free t

[2017-07-10 16:39] harrygfox commented on #271
Asset is green and available on invision 👍

[2017-07-11 14:39] Cleop commented on #296
@iteles suggested we just show one of the 3 images that are visible on desktop, how do you feel about that @harrygfox?

Happy to go ahead with the large size which means at least people will be able to see what the phones actually have on them!

[2017-07-12 16:16] Cleop commented on #5
@markwilliamfirth, following our call earlier today, this page is now being built. Time to get started on copy for this. As you've seen the design for the page and that it features multiple articles, do we have copy pre-made for any other blogs too so that we start off with more than just one?

[2017-07-12 16:18] harrygfox commented on #98
@Cleop it's _displayed_ by columns, but is still meant to be _ordered_ in rows. I think it would be confusing / frustrating for users to see posts of varying ages when they scan across the page, and more so to have to click the load button to find only the fourth most recent article

[2017-07-12 16:23] Cleop commented on #98
@harrygfox - good, that's what I was thinking for users being confused, thanks for clarifying. It will be harder to inject the content into columns if chronologically it's running horizontally as rows but we can give it a shot.

[2017-07-12 20:04] sohilpandya commented on #288
Hey! I’m Sohil and I’m a product developer and the resident videographer at dwyl. I love working with people who really care about education, open source ecosystem and drones!

My day to day role at dwyl involves devloping for our product ‘time’, creating tutorials from the learnings whilst developing and producing video content for our YouTube channel. This flexibility and the ability for me to w

[2017-07-13 09:29] Cleop commented on #98
@harrygfox - just to make sure my understanding is right:
 - should the titles of a row of posts be inline with one another vertically?
- How much copy should each blog post show, is it capped at a certain number of characters (because this page is only showing say the first para right? you click on the title to see the full blog post?)?
- Are the names of the authors links? If so, where does clic

[2017-07-13 14:53] shouston3 commented on #288
I'm a developer for our dwyl client projects. I enjoy learning about new technologies day, as well as being able to see all of the different open source projects that are happening here at dwyl.

My day to day roles involve planning, scoping projects and delivering the goods. I like the organisation of dwyl's processes and being around so may people who I can bounce my ideas off of.

I used to sel

[2017-07-13 15:11] Danwhy commented on #288
I'm a full stack developer at dwyl, where I love solving real, interesting problems with a variety of technologies. Constant learning and being around a diverse range of smart and interesting people is what makes working at dwyl amazing. Away from the computer, you'll usually find me drinking coffee and reading a good book.

[2017-07-13 15:28] harrygfox commented on #288
Harry solves your problems and draws pictures so that dwyl developers can make those solutions. This level 3 unicorn loves semantics, making obscure cultural references, games, and the oxford comma.
"Dwyl is great because they're a bunch of lovely nerds."

[2017-07-13 15:38] harrygfox commented on #98
@Cleop
Everything is determined by content.
- Yes everything is vertically aligned in each column
- I hadn't imagined any programmatic limit to the blurb beneath the title, but rather the post creator would be able to determine what does into the blurb hence the staggered display
- Names _could_ be links if we had somewhere for them to go. One option right now would be to go to the highlighted vie

[2017-07-13 15:44] harrygfox commented on #296
@Cleop @iteles I think it underestimates how much people value design fidelity. we're visual creatures and pictures of apps makes them more tangible than descriptions of apps.

[2017-07-13 15:47] Cleop commented on #98
Thanks @harrygfox 👍

[2017-07-14 10:02] Cleop commented on #98
The designs have dwyl with a capital D, but I think it's either DWYL or dwyl but not half half. Generally I thought the consensus was all lowercase. Does this look weird:

[2017-07-14 10:40] Cleop opened #299 "Redesign: About Page"
Create the About page

![image](https://user-images.githubusercontent.com/16775804/28209117-03842e2e-6889-11e7-89fe-d73f5d3168ff.png)
![image](https://user-images.githubusercontent.com/16775804/28209124-0e037f4e-6889-11e7-9cb0-afc599fda0ba.png)
![image](https://user-images.githubusercontent.com/16775804/28209132-13d0bf5e-6889-11e7-8ed1-1b8f1cc26fd0.png)

- [x] Top 'Driven by Our Values' section wi

[2017-07-14 10:53] markwilliamfirth commented on #299
Capitalisation needs updating according to https://github.com/dwyl/dwyl-site/issues/234#issuecomment-308735303

e.g. our -> Our

dwyl pronunciation should be dwɪɫ

Links are yellow and underlined - these are different to links on the blog page - we should probably have a convention for links at some point

Otherwise great - happy for us to go ahead and we can continue to iterate on it later 👍

[2017-07-14 11:39] markwilliamfirth commented on #288
Hi 👋 I'm Mark, the ops guy at dwyl. I manage our money 💰 , legals 📝  , hr 👨‍👧‍👦 , company admin 📜 and office 🏢 . I also oversee some of our internal and external projects 👨‍💻 👩‍💻. I probably do too many things, so we'll likely be hiring soon to deal with that; if you'd like to work with us then [get in touch with me](mailto:mark@dwyl.com) ✉️ ! I like things too, here are some of them: 🏓 🏂 📸

--

[

[2017-07-14 11:56] harrygfox commented on #98
@Cleop only if you over-think it 🍷

[2017-07-14 12:01] harrygfox commented on #297
@iteles Admittedly these were **higher-fidelity than agreed** (reasons available on request), but completed within the requisite time.

[2017-07-14 12:24] markwilliamfirth commented on #98
It's always dwyl regardless of where it is in a sentence

This is still under review https://github.com/dwyl/hq/issues/249

[2017-07-14 14:53] Cleop opened #301 "Blog: Individual blog post page"
![image](https://user-images.githubusercontent.com/16775804/28217160-136a1632-68ac-11e7-9f37-154432632afa.png)
![image](https://user-images.githubusercontent.com/16775804/28217210-45b5a462-68ac-11e7-807f-a933b330711c.png)
![image](https://user-images.githubusercontent.com/16775804/28217196-368d6d9e-68ac-11e7-894f-5e38e01d51ad.png)
![image](https://user-images.githubusercontent.com/16775804/2821722

[2017-07-14 15:45] markwilliamfirth commented on #301
Personally I think it would be quite nice to also pull in the author's profile picture

[2017-07-19 09:50] markwilliamfirth commented on #288
@iteles @nelsonic @katbow @roryc89 @SimonLab @naazy @Conorc1000 @jackcarlisle @nogainbar @RobStallion

Reminder to everyone to submit your bios! These aren't set in stone - you can make a PR and edit them as much as you want later on, we just need copy for the website design asap! Please submit them by the end of this week at the latest! 📪

@edwardcodes @Jbarget @ZooeyMiller and @finnhodgkin you a

[2017-07-19 12:47] iteles commented on #288
I can't believe how awesome you all are <3

@nogainbar is on holiday right now, I'll get mine done asap 👍

[2017-07-19 14:53] naazy commented on #288
Hi I'm Naaz 👩🏽   and I'm one of DWYL's (_best_)  full stack developers.
I 💜  DWYL because I get to work with people who make me feel warm :fire: and fuzzy 👹  and I get paid 💰  to do what I love every day.

[2017-07-19 20:06] edwardcodes commented on #288
Hey! I am a dwyl´s apprentice and learning materials reviewer 👍 i love dwyl´s goals and how they see education!
Away from keyboard i´m usually with friends on the beach or learning *new* things!😊

[2017-07-19 21:53] naazy commented on #288
Hi I'm Naaz 👩🏽  and I'm one of DWYL's full stack developers.
I 💜  DWYL because I get to work with people who make me feel warm :fire: and fuzzy :bear: and I get paid 💰  to do what I love every day (_the dream_ 🌈). I'm also a killer 🔫  dodgeball :running_woman: :1st_place_medal: captain and a lover of wholesome fun ✨ 🍭

[2017-07-20 09:57] Cleop commented on #288
OMG @naazy loving the magician's assistant fact ❤️

[2017-07-25 13:39] ZooeyMiller commented on #288
I'm Zooey :wave: I'm a Graduate Apprentice with dwyl, I spend my time working on our open source learning resources and internal projects. I love helping other people learn, riding bicycles and eating hummus.

[2017-07-25 14:31] jackcarlisle commented on #288
Hey, I'm Jack. I'm a full stack developer at dwyl and I love empowering people through technology. My day to day roles include working on client projects and building internal applications. When I'm not at the keyboard you can find me flying planes, eating and travelling.

Fun fact: I've ridden on an ostrich

[2017-07-25 14:32] finnhodgkin commented on #288
I'm Finn :man_technologist: One of dwyl's Graduate Apprentices. I work with my buddy Zooey on internal projects and the dwyl learning resources, keeping everything up to date and bug free :no_good_man::bug:. In my spare time I climb, play table tennis and talk to the Elm compiler.

[2017-07-25 15:35] markwilliamfirth commented on #288
Thanks @ZooeyMiller @jackcarlisle @finnhodgkin for posting today!

Just @nelsonic @iteles @katbow @roryc89 @SimonLab @Jbarget @Conorc1000 @nogainbar @RobStallion left to go! 🚀

[2017-07-26 07:42] nogainbar commented on #288
I'm Noga, a Painter 🎨 turned Designer ✏️ turned Sculptor ⚒ turned Developer 💻 and back to UX and UI designer 💻 + 🖍✏️📌📎 = 🏛. This synaptic mishmash serves me quite well (🤹‍♀️)! especially when I need to express creative ideas to the brill devs at dwyl. I 💚 people and nature 🌴.

[2017-07-26 09:52] roryc89 commented on #288
Hi I'm Rory and I'm a dev at dwyl. I love the constant learning culture, friendly colleagues and possibilities for remote work! Been working with @Conorc1000 and @naazy  on a client project since I joined dwyl and very happy with the move :)

[2017-07-26 10:01] iteles commented on #288
I'm co-founded dwyl because I wanted to use technology to help people and organisations realise their potential and make the world a little brighter in the process!
I make sure we're working with people doing great things, help our clients problem solve, provide training, try to make dwyl a little better every day, scrum master, and whenever I can, make time to code on our open source projects.
dw

[2017-07-28 09:00] markwilliamfirth commented on #288
Thanks @nogainbar @roryc89 @iteles !

Now just @nelsonic @katbow @SimonLab @Jbarget @Conorc1000 @RobStallion ! 🚀

[2017-07-28 09:24] RobStallion commented on #288
Hey, I'm Robert and I am a courier turned full stack developer. I love working with DWYL because I get to help build interesting projects that could really help a lot of people, while also allowing me to learn cool new technologies. The cherry on top is that I get to work with a diverse, smart and interesting group of people on a daily basis. Just an amazing combo!!! 🎉🎉

[2017-07-31 10:29] markwilliamfirth commented on #288
Thanks @RobStallion !

@nelsonic @katbow @Conorc1000 @SimonLab @Jbarget left to go! 🚀

[2017-07-31 12:05] harrygfox commented on #223
I believe this to be completed, please close if you're satisfied, @markwilliamfirth

[2017-07-31 14:07] markwilliamfirth commented on #223
Nice! I think there are just a few things:

1. With regards to the blog, do the authors link to an author page that shows all the posts by that author?

2. Mission and Values page (referenced in footer) is the same as the about page - is that right?

3. Careers page:

**Careers**

Build exceptional products with the world's most creative companies.

At dwyl, you’ll work with a team of collaborativ

[2017-07-31 14:18] harrygfox commented on #223
@markwilliamfirth
1. Sounds like a great little feature - As long as it is clear that the user has just filtered the entire blog by one author and has a simple way of removing that filter
2. Yeppers
3. Happy to add shapes and colours to this if this is necessary and can be signed off on, otherwise it'll be down to the developers to infer styles for it 😄

[2017-08-01 13:36] Conorc1000 commented on #288
Hi 👋  my name is Conor, I am a full stack developer at DWYL. My favourite part of working here is the DWYL Summer experience, where we all decamp to a lake house in Portugal for 2 weeks. Its at great chance to get to know the rest of the team better and catch some rays 🌞. The relaxed culture here makes it easy to get along with everyone.
I have also enjoyed the emphasis DWYL puts on personal respo

[2017-08-01 13:54] Jbarget commented on #288
Hello! Justen here 😄 ...
Im a full stack developer who likes to force myself into doing things that make me feel uncomfortable for the better, which has led me to: skydiving, boxing and colonic irrigation to name a few. I'd like to learn 4 languages 💬  before I die and I enjoy cooking 🍯 . I also like Groupon adventures. Things I like about DWYL: the general appreciation for hummus, interesting peo

[2017-08-01 14:00] katbow commented on #288
Hey, I'm Katherine and I don't like writing bios. In another life I was a teacher and that's nudged it's way into my role as a developer at dwyl. I mostly write code for cool, socially impactful projects, but also love getting involved in client workshops. It's a great feeling to help people learn new things so they can be more involved in their own projects!

[2017-08-01 14:27] naazy commented on #288
@Jbarget where's the 💩 github reaction when I need it??

[2017-08-01 17:42] nelsonic commented on #288
"Short" Bio ...

[code]

Perhaps not especially "short".
Feel free to edit it down to the number of words/characters you need.

[2017-08-02 09:36] markwilliamfirth commented on #288
Thanks @Conorc1000 @Jbarget @katbow @naazy @nelsonic

Just @SimonLab to go now and then we're done!

[2017-08-23 11:49] markwilliamfirth commented on #124
Confirmed that this does occur

[2017-08-23 11:49] #124 closed

[2017-08-23 11:49] markwilliamfirth commented on #120
Closing - irrelevant with new redesign

[2017-08-23 11:49] #120 closed

[2017-08-23 11:51] markwilliamfirth commented on #119
Closing - new issue will be opened (and can be inspired by this) for testing new redesign if required

[2017-08-23 11:51] #119 closed

[2017-08-23 11:52] markwilliamfirth commented on #109
Closing - irrelevant with new redesign

[2017-08-23 11:52] #109 closed

[2017-08-23 11:52] markwilliamfirth commented on #100
Closing due to new redesign

[2017-08-23 11:52] #100 closed

[2017-08-23 11:55] markwilliamfirth commented on #293
@Cleop let's timebox to just spend one pomodoro updating this and see if that's enough for now

[2017-08-23 12:15] markwilliamfirth commented on #291
This still requires links to repo and live app:

https://github.com/emfoundation/ce100-app

https://www.ellenmacarthurfoundation.org/ce100

[2017-08-23 12:28] markwilliamfirth commented on #288
@SimonLab a nudge on this one!

[2017-08-23 12:30] markwilliamfirth commented on #284
Closing as complete

[2017-08-23 12:30] #284 closed

[2017-08-23 12:31] markwilliamfirth commented on #282
Closing as complete

[2017-08-23 12:31] #282 closed

[2017-08-23 12:33] markwilliamfirth commented on #283
Closing as complete

[2017-08-23 12:34] markwilliamfirth commented on #285
Closing as complete

[2017-08-23 12:43] markwilliamfirth commented on #296
Closing as question has been answered

[2017-08-23 12:43] #296 closed

[2017-08-23 12:50] iteles opened #304 "Obtain permission to share existing case studies on our new site"
We have some case studies which are under review as per https://github.com/dwyl/hq/issues/274

We need written confirmation that these can be shared.

Assigning `p1` as the website should go live by mid-September at the latest.

- [ ] Confirmation that these can be shared
- [ ] Logo sign-off e.g. https://github.com/dwyl/dwyl-site/issues/331

[2017-08-23 12:51] iteles opened #305 "Get quotes from clients for website!"
Needs to be done with #304 and for #88

Assigning `p1` as the website should go live by mid-September at the latest.

[2017-08-23 12:51] markwilliamfirth commented on #280
Copy provided - closing

[2017-08-23 12:51] #280 closed

[2017-08-23 12:53] markwilliamfirth commented on #270
Let's duplicate for now and let's look at templating at a later date

[2017-08-23 12:56] markwilliamfirth commented on #269
Confirmed that scrolling is not blocked when burger menu is open

[2017-08-23 12:56] #269 closed

[2017-08-23 12:59] markwilliamfirth commented on #255
Closing as this was discussed and Harry made the call

[2017-08-23 13:00] markwilliamfirth commented on #243
I'll test so Cleo can have more dev time, but if you really want to test it Cleo, then happy for you to!

[2017-08-23 13:01] markwilliamfirth commented on #242
Linked to #89

Closing as question has been answered

[2017-08-23 13:01] #242 closed

[2017-08-23 13:04] markwilliamfirth commented on #281
<img width="1065" alt="screen shot 2017-08-23 at 14 03 56" src="https://user-images.githubusercontent.com/5732209/29617198-f50b8c28-880b-11e7-8cd4-f4a21e0a1e87.png">

This needs to be in-line

[2017-08-23 13:21] markwilliamfirth commented on #234
Closing as this has been agreed

[2017-08-23 13:21] #234 closed

[2017-08-23 13:21] markwilliamfirth commented on #226
Closing in favour of #305

[2017-08-23 13:21] #226 closed

[2017-08-23 13:24] markwilliamfirth commented on #223
This issue has been split out and covered into lots of different issues - closing

[2017-08-23 13:24] #223 closed

[2017-08-23 13:25] ghost opened #306 "Careers Page Design"
Linked to #223 #297

@harrygfox following your comment here https://github.com/dwyl/dwyl-site/issues/223#issuecomment-319080702

Please could you make a quick mockup of the careers page?

(copy is on the issue linked above)

[2017-08-23 13:32] markwilliamfirth commented on #221
This has been covered as part of the redesign - closing

[2017-08-23 13:32] #221 closed

[2017-08-23 13:35] markwilliamfirth commented on #218
@Cleop next step in this issue:

- [ ] Make the analytics public

[2017-08-23 13:37] markwilliamfirth commented on #215
@SimonLab now that Sam reduced his, what size limit should we be aiming for?

[2017-08-23 13:38] markwilliamfirth commented on #211
Closing as redesign will solve this

[2017-08-23 13:38] #211 closed

[2017-08-23 13:39] markwilliamfirth commented on #209
Until it's live let's continue with local previews

When it's live it'll be on Heroku unless we later decide otherwise

[2017-08-23 13:39] #209 closed

[2017-08-23 13:40] markwilliamfirth commented on #207
Closing as this has been merged

[2017-08-23 13:40] #207 closed

[2017-08-23 13:43] markwilliamfirth commented on #22
Closing as this does not appear relevant to the website project

[2017-08-23 13:43] #22 closed

[2017-08-23 13:44] markwilliamfirth commented on #20
Closing as this does not appear to be relevant to the site project

[2017-08-23 13:44] #20 closed

[2017-08-23 13:45] markwilliamfirth commented on #14
@iteles would you be able to provide a list of requirements (checkboxes) to close this issue?

[2017-08-23 13:47] markwilliamfirth commented on #199
@Cleop to check if this is still an issue in the redesign

[2017-08-23 13:48] markwilliamfirth commented on #194
@Cleop to check if this is still an issue with redesign

[2017-08-23 13:54] markwilliamfirth commented on #170
Closing in favour of #225

[2017-08-23 13:54] #170 closed

[2017-08-23 13:55] markwilliamfirth commented on #169
Closing due to redesign

[2017-08-23 13:55] #169 closed

[2017-08-23 13:55] markwilliamfirth commented on #153
Yes!

[2017-08-23 13:55] #153 closed

[2017-08-23 13:56] markwilliamfirth commented on #149
Closing due to redesign

[2017-08-23 13:56] #149 closed

[2017-08-23 13:57] markwilliamfirth commented on #143
Closing as this is easily found in closed issues or by looking at previous commits to the repo

[2017-08-23 13:58] markwilliamfirth commented on #26
Closing due to redesign

[2017-08-23 13:58] #26 closed

[2017-08-23 13:58] markwilliamfirth commented on #76
Closing due to redesign

[2017-08-23 13:58] #76 closed

[2017-08-23 13:58] markwilliamfirth commented on #134
Closing due to redesign

[2017-08-23 13:58] #134 closed

[2017-08-23 13:58] markwilliamfirth commented on #132
Closing due to redesign

[2017-08-23 13:58] #132 closed

[2017-08-23 13:59] markwilliamfirth commented on #129
Closing due to redesign

[2017-08-23 13:59] #129 closed

[2017-08-23 14:00] markwilliamfirth commented on #112
Closing due to redesign

[2017-08-23 14:00] #112 closed

[2017-08-23 14:02] markwilliamfirth commented on #98
Nice! 👍

[2017-08-23 14:02] #98 closed

[2017-08-23 14:02] markwilliamfirth commented on #97
Closing due to redesign

[2017-08-23 14:02] #97 closed

[2017-08-23 14:04] markwilliamfirth commented on #58
Mark to add to this list with the list he's compiled

[2017-08-23 14:04] markwilliamfirth commented on #88
Closing in favour of #226 and #305

[2017-08-23 14:04] #88 closed

[2017-08-23 14:05] markwilliamfirth commented on #87
Closing in favour of #283 #288

[2017-08-23 14:05] #87 closed

[2017-08-23 14:06] markwilliamfirth commented on #80
@cleo to see if this is still an issue in the redesign

[2017-08-23 14:07] markwilliamfirth commented on #70
Closed due to redesign

[2017-08-23 14:07] markwilliamfirth commented on #69
Closed - suggested blog posts will be posted as issues in this repo

[2017-08-23 14:07] #69 closed

[2017-08-23 14:10] markwilliamfirth commented on #68
Closing in favour of https://github.com/dwyl/hq/issues/379

[2017-08-23 14:10] #68 closed

[2017-08-23 14:11] markwilliamfirth commented on #45
Decided to use google analytics. Closing in favour of #10 #218 #222

[2017-08-23 14:11] #45 closed

[2017-08-23 14:13] markwilliamfirth commented on #42
@notenociz to answer your question (albeit a bit late) it's both!

[2017-08-23 14:13] #42 closed

[2017-08-23 14:14] markwilliamfirth commented on #38
Closing as not related to site project

[2017-08-23 14:14] #38 closed

[2017-08-23 14:15] markwilliamfirth commented on #36
Closing in favour of https://github.com/dwyl/hq/issues/157

[2017-08-23 14:15] #36 closed

[2017-08-23 14:17] markwilliamfirth commented on #33
Closing in favour of https://github.com/dwyl/time/issues/200

[2017-08-23 14:17] #33 closed

[2017-08-23 14:18] markwilliamfirth opened #307 "Optimise dwyl site SEO"
Linked to https://github.com/dwyl/dwyl-site/issues/31

- [x] Decide what we want to optimise for
- [x] Implement optimisation

[2017-08-23 14:18] markwilliamfirth commented on #31
Closing in favour of https://github.com/dwyl/dwyl-site/issues/307

[2017-08-23 14:18] #31 closed

[2017-08-23 14:19] markwilliamfirth commented on #29
Closing due to redesign

[2017-08-23 14:19] #29 closed

[2017-08-23 14:19] markwilliamfirth commented on #27
@nelsonic what are the requirements for this issue to be closed?

[2017-08-23 14:22] markwilliamfirth commented on #297
These have been completed bar #306

Closing this issue in favour of that one

[2017-08-23 14:22] #297 closed

[2017-08-23 14:32] markwilliamfirth commented on #23
@Cleop to see if redesign is over 100kb for individual page loads and which pages need to be looked into further

[2017-08-23 15:04] iteles commented on #306
Note: We're not hiring anyone outside of the people we already work with for the rest of the calendar year, so I would suggest this is considerably lower priority.

[2017-08-23 15:10] iteles commented on #143
Sure, if you think you're not going to forget to do it without an _open_ issue.

[2017-08-23 15:25] markwilliamfirth commented on #143
@iteles sure let's keep it open and transfer to MD file

[2017-08-23 15:32] markwilliamfirth commented on #306
@iteles we need a careers page regardless of how our hiring plans change, agreed it's not a massive priority now :)

[2017-08-23 15:32] markwilliamfirth commented on #306
@harrygfox could you send us a quick design for this one in order to complete the set of initial wireframes? ( #297 )

[2017-08-23 15:40] iteles commented on #27
@cleop or @SimonLab Can you have a think about how to make this happen? 😊

[2017-08-23 15:48] SimonLab commented on #27
My first idea is to store the emails in a secure database but maybe we can use directly google as a storage as our email service is already managed by them.

@markwilliamfirth @iteles do we have a place where we store our current contacts at the moment or should we explore how to add new emails as contact to a google contacts group? Do we have an existing mailing list already?

[2017-08-23 15:50] markwilliamfirth commented on #27
@SimonLab we have a google spreadsheet with contacts at the moment

I'm not sure if this issue is needed as people can sign up and directly be added to the google spreadsheet via https://github.com/dwyl/web-form-to-google-sheet

[2017-08-24 09:51] iteles commented on #215
@markwilliamfirth Are we updating the team page images with the ones that you took for dwyl-summer?

[2017-08-24 10:18] markwilliamfirth commented on #215
@iteles this isn't in the sprint 1 planning, but please make another issue for this if you'd like it done sooner!

[2017-08-24 10:33] SimonLab commented on #215
@markwilliamfirth if the page doesn't go too much over 1Mb I think it's a good start. We can then see how to optimise this later on. You can check the developer tool to see all the files size, see https://github.com/dwyl/dwyl-site/issues/215#issue-215740270

[2017-08-26 22:28] iteles commented on #70
Was this question considered in the redesign? I suspect @harrygfox may not have seen it.
It may still be an open question.

[2017-08-29 14:29] harrygfox commented on #70
There are definitely places for this kind of information to go - the careers page, when it exists, the values page perhaps (if it can be considered that important). You're right though @iteles I didn't see this during my time on the project

[2017-08-30 05:38] markwilliamfirth commented on #70
@iteles it's me/you that decide on the copy - do you want it on there?

Linked to #306

Copy here: https://github.com/dwyl/dwyl-site/issues/223#issuecomment-319077516

[2017-09-04 20:07] iteles commented on #14
https://www.wuhcag.com/wcag-checklist/

Tools  like https://www.powermapper.com/products/sortsite/checks/accessibility-checks/ and http://wave.webaim.org/ should help check this.

[2017-09-04 20:12] iteles commented on #255
What was the call?
Would be useful to record the actual conclusion in issues.

[2017-09-05 10:52] markwilliamfirth commented on #255
@harrygfox to summarise his decision here

[2017-09-05 10:55] markwilliamfirth commented on #14
- [ ] Have site meet all standards on https://www.wuhcag.com/wcag-checklist/
- [ ] Run site through http://wave.webaim.org/ and having it pass with no errors or alerts
- [ ] Run site through https://www.powermapper.com/products/sortsite/checks/accessibility-checks/ and having it pass with no errors or alerts

[2017-09-05 12:06] harrygfox commented on #255
@iteles [#issuecomment-310121714](#issuecomment-310121714)

[2017-09-05 12:18] markwilliamfirth commented on #255
Thanks @harrygfox

Closing as this is a discussion issue

[2017-09-05 12:18] #255 closed

[2017-09-05 12:24] ghost opened #308 "Redesign: Implement Word Switching for 'make/be' your MVP"
https://github.com/dwyl/dwyl-site/issues/255#issuecomment-310121714
Code example: https://jsbin.com/dadinagojo/1/edit?output
Technical docs: https://www.w3schools.com/cssref/pr_background-attachment.asp

[2017-09-05 12:46] iteles commented on #255
@harrygfox And what would propose is the graceful degradation of this? (When no JS is available)

[2017-09-05 13:02] harrygfox commented on #255
@iteles my example uses no js - it's all css background properties

[2017-09-05 13:21] iteles commented on #255
🎉 If you have that code, would be ace to link to it (unless I've missed it somewhere in the endless scroll of comments 😳 )

[2017-09-05 16:07] harrygfox commented on #255
@iteles here is an example I made https://jsbin.com/dadinagojo/1/edit?output
this one uses absolute positioning though I think there are other ways of achieving the effect.
It uses the [background-attachment Property](https://www.w3schools.com/cssref/pr_background-attachment.asp)

[2017-09-07 14:06] Cleop commented on #243
@markwilliamfirth please go ahead 👍

[2017-09-07 16:07] Cleop commented on #273
Closing as now moved to #299

[2017-09-07 16:07] #273 closed

[2017-09-08 10:18] Cleop opened #309 "Create Time App Beta Tester Google Form"
**As a** user on the app page
**I want to** be able to enter my details into a functioning form
**So that** I can receive updates to become a beta tester.

Page exists but not currently set up with functioning form.
Need to personalise the thanks message with user's name from the form details.

[2017-09-08 10:31] markwilliamfirth opened #310 "Contact Form is Being Spammed"
<img width="783" alt="screen shot 2017-09-08 at 11 30 48" src="https://user-images.githubusercontent.com/5732209/30207922-315dc068-9489-11e7-9824-52016db8195f.png">

Not possible to block spam as from email address belongs to Nelson and the entered email address changes

[2017-09-08 10:33] ghost opened #311 "Contact form email address"
Linked to https://github.com/dwyl/dwyl-site/issues/310

Update contact form email address from Nelson's to hello@dwyl.com

[2017-09-08 10:35] Cleop commented on #293
First implementation, open to more instruction:
<img src="https://user-images.githubusercontent.com/16775804/30208044-af994614-9489-11e7-8d37-8509ff48bfdc.png" width=300px />

[2017-09-08 10:35] markwilliamfirth commented on #310
@Cleop is this due to testing? https://github.com/dwyl/dwyl-site/issues/309

<img width="779" alt="screen shot 2017-09-08 at 11 35 03" src="https://user-images.githubusercontent.com/5732209/30208092-de25c502-9489-11e7-8661-d5da126ececa.png">

[2017-09-08 11:00] Cleop commented on #310
Yes it's me

[2017-09-08 11:00] #310 closed

[2017-09-08 11:02] Cleop opened #313 "Create styled 404 page"
Create styled 404 page as per @harrygfox 's designs:
![image](https://user-images.githubusercontent.com/16775804/30208937-8b1ab27e-948d-11e7-8923-e7997a9907b4.png)

[2017-09-08 11:12] Cleop commented on #218
@markwilliamfirth - the way making analytics public works is that you have to write individual queries for the parts that you want to make public. Before I can simply 'make the analytics public', I need to know what queries to write. According to the number of queries this will impact how much time this takes. Please can you confirm which queries you'd like written?

[2017-09-08 11:30] markwilliamfirth opened #314 "Host site on gh-pages"
Server is required for analytics and other issues such as https://github.com/dwyl/dwyl-site/issues/23

Nelson has expressed an interest for the site to be in Phoenix
https://github.com/dwyl/dwyl-site/issues/237#issuecomment-307075623

Cleo has confirmed Phoenix is likely to be a faster implementation than Node
+ this is also beneficial for Cleo to have more experience with our official new stack

[2017-09-08 11:34] markwilliamfirth commented on #218
@Cleop as an MVP let's go with:

- [ ] Number of page views for each page
- [ ] What countries people are coming from
- [ ] Average length of time spent on each page

If these aren't achievable please swap them out for similar stats - we can start with these for now and augment later

[2017-09-08 11:45] iteles commented on #314
@markwilliamfirth We don't actually need a server for the issues you have mentioned above (analytics and page load time), but rather just that the website is hosted somewhere where it can be tested (testing page load time locally isn't useful).

I suggest we contain the redesign on a branch and deploy that to gh-pages very temporarily for ease of testing.
@Cleop If you go down this route, please e

[2017-09-08 11:47] Cleop commented on #314
Having discussed this with some other dwylers I'm happy and understand this suggestion and think it will be fastest. I know speed is what @markwilliamfirth had as highest priority.

[2017-09-08 13:25] iteles commented on #310
Removed screenshots so as not to make email addresses unnecessarily publicly available.

[2017-09-08 14:09] Cleop commented on #314
Redesign is now available at http://dwyl.github.io/dwyl-site/

[2017-09-08 14:21] Cleop commented on #23
Currently the inclusive classrooms image is over 100kb alone, font awesome is also over 60kb. These can be substituted.

[2017-09-08 14:49] iteles commented on #311
@markwilliamfirth It already sends to that email address, does it matter where the email comes from?

[2017-09-08 14:50] iteles commented on #314
👍 @Cleop @markwilliamfirth Let me know when you need my review

[2017-09-08 15:08] Cleop commented on #199
This is no longer an issue on the redesign having tested this on both iOS and Android.

[2017-09-08 15:11] Cleop commented on #194
This will be an issue as you have to create images for this purpose. I will update the time estimate to how long it will take to implement this.

[2017-09-08 16:15] markwilliamfirth commented on #194
@Cleop 👍

Linked to https://github.com/dwyl/best-evidence/issues/100

[2017-09-08 16:16] markwilliamfirth commented on #199
👍

[2017-09-08 16:16] #199 closed

[2017-09-08 16:17] markwilliamfirth commented on #314
Closing as now on GH pages - top comment outdated, phoenix discussion will be revisited at a later date

[2017-09-08 16:17] #314 closed

[2017-09-08 16:19] markwilliamfirth commented on #311
@iteles yes because when we reply to the email thread, potential clients see the email address and it doesn't look professional, nor would I think that Nelson would want his personal email shared with clients

[2017-09-08 16:38] iteles commented on #311
Ah, I tend to edit the reply because the format (no line breaks etc) looks bad to me anyway so this isn't a pain point for me 👍

[2017-09-10 16:19] iteles opened #315 "Line height review"
Whilst reviewing PR #303, I noticed that the words felt a bit cramped in some sections, e.g:
<img width="378" alt="screen shot 2017-09-10 at 17 15 04" src="https://user-images.githubusercontent.com/4185328/30250746-c96eb8f8-964b-11e7-8bb6-b521b7bb4bdd.png">

This is not the case _everywhere_ on the site (see homepage screenshot below) but will need a review:
<img width="312" alt="screen shot 2017-

[2017-09-11 08:53] Cleop commented on #80
<img src="https://user-images.githubusercontent.com/16775804/30266261-addafa80-96d6-11e7-826c-8da0a8f52b0f.png" width=400px />
<img src="https://user-images.githubusercontent.com/16775804/30266288-c69ced26-96d6-11e7-9a9a-2aedb51c8658.png" width=400px />
<img src="https://user-images.githubusercontent.com/16775804/30266292-cdc3f9be-96d6-11e7-8ad8-756c0498501a.png" width=400px />

[2017-09-11 10:19] markwilliamfirth commented on #80
Let's optimise this one at a later date

[2017-09-11 11:37] iteles commented on #309
@Cleop I used this for our wedding website (MVP): https://github.com/dwyl/html-form-send-email-via-google-script-without-server

[2017-09-11 12:28] Cleop commented on #291
Can't add live link yet @markwilliamfirth:
![image](https://user-images.githubusercontent.com/16775804/30274397-1bc74be8-96f5-11e7-96c2-fb4b5ee4bdb9.png)

[2017-09-11 13:48] Cleop commented on #218
- [ ] download and install Python 2.7
- [ ] Download and install the App Engine SDK for Python
- [ ] Create an APIs Console Project.

![image](https://user-images.githubusercontent.com/16775804/30277582-29ef4238-9700-11e7-98f2-727dffd004b0.png)

[2017-09-11 16:10] Cleop commented on #268
@markwilliamfirth - this issue is confused. The issue is not about the contrast of text on a background. The issue is about the colour of the dropdown menu background on top of the background of the homepage.
See the bit where contact ends and the page begins:
<img src="https://user-images.githubusercontent.com/16775804/30284796-db59c3be-9713-11e7-9769-f9058be90168.png" width=250px />
The designs

[2017-09-11 18:09] markwilliamfirth commented on #268
@Cleop Harry's designs actually have some drop shadow on the menu - is it possible to add that?

<img width="880" alt="screen shot 2017-09-11 at 19 08 54" src="https://user-images.githubusercontent.com/5732209/30289645-c02d829a-9724-11e7-8e0e-fa87a70b8d3b.png">

[2017-09-11 18:18] markwilliamfirth commented on #291
Blocked by https://github.com/dwyl/dwyl-site/issues/304

[2017-09-11 18:21] markwilliamfirth commented on #305
@iteles have we had any responses from clients?

[2017-09-11 18:21] markwilliamfirth commented on #304
@iteles have we had any responses from clients?

[2017-09-12 10:20] Cleop commented on #225
@markwilliamfirth - please can you clarify this further? ie. where/what exactly...

[2017-09-12 10:21] Cleop commented on #295
@markwilliamfirth - who would you like to be coming up with these ideas? you? Harry? Can you clarify this so the issue is ready to go?

[2017-09-12 10:35] Cleop commented on #197
I've checked this on linked in using the new gh-pages site and the newly added in wider homescreen/favicon icons in the hope one of them would be assigned but it still doesn't work.

[2017-09-12 11:17] Cleop commented on #268
![image](https://user-images.githubusercontent.com/16775804/30323237-4daa8cd2-97b4-11e7-9527-ab7f35a8848d.png)

[2017-09-12 11:27] Cleop commented on #283
@markwilliamfirth - previously the team page had by default a person's job title under their name, on the new designs it only shows on selecting that person. Personally I think it should be kept for context, how do you feel?

Also, should the extra info about a person display on hover or click? I'm assuming click because hover wouldn't work on mobile and isn't so good for accessibility.

[2017-09-12 14:54] Cleop commented on #283
I can't think how to achieve the border around a team member on click without javascript. I can edit the description css by using a custom checkbox and the child element however to put the border on I would need to select the parent element of the checkbox which according to stack overflow is not possible: https://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector without js.
![ima

[2017-09-12 15:08] Cleop commented on #283
@markwilliamfirth - some of these bios need shortening as currently they're too big for the designs:
![image](https://user-images.githubusercontent.com/16775804/30333344-a1e7e5e0-97d4-11e7-8f0a-5190577d4398.png)

[2017-09-13 10:38] Cleop commented on #283
![image](https://user-images.githubusercontent.com/16775804/30373016-caed8d98-9877-11e7-8e77-b31cee8f0d0e.png)
![image](https://user-images.githubusercontent.com/16775804/30373039-e9604c16-9877-11e7-8e07-0d43629a7c41.png)
![image](https://user-images.githubusercontent.com/16775804/30373054-f03fa8ec-9877-11e7-985c-810ceb997617.png)
![image](https://user-images.githubusercontent.com/16775804/3037305

[2017-09-13 11:17] Cleop opened #317 "How should/shouldn't javascript be used across the site?"
So far with the site redesign I've been working using the simplest solutions where possible. I know that not using js has accessibility advantages and we chose not to use it for creating the burger menu where there was a feasible non js alternative available.

Now working on the team page I've tried to follow this avoidance of js which is looking to be possible. However my concern is with the stat

[2017-09-13 19:49] iteles commented on #283
@Cleop As I mentioned to you earlier today, @markwilliamfirth is currently unavailable but I'll be back tomorrow, so if there are any issues you need a decision on tomorrow (maybe like this one?), please assign them to be first thing and I'll take a look through 👍

[2017-09-13 21:08] iteles commented on #14
This is going to throw up an error and needs to be fixed before we go live: https://github.com/dwyl/dwyl-site/pull/312/commits/3aa6cf2f137f15a7cb1156e2e5ae433b05c0a0bf#diff-d015ee2938b049b883af8932cc97a99bR58

[2017-09-14 10:06] Cleop opened #320 "2 days remaining best use of time"
I have 2 days left to try and get the site live. There are several issues still open but some of them are large and some of them I require input from others or have questions around them.

In my opinion I would prioritise #309 before anything else. As for the others, I don't mind which I do but want to make sure that it's clear I can't do all of them and can the scope of any of them be reduced at

[2017-09-14 10:11] iteles commented on #320
@Cleop Please do make a start on #309 as you suggest, I'll review the rest in @markwilliamfirth's absence

[2017-09-14 10:13] iteles commented on #309
@Cleop If you use the above, please note that you need to read _each step **very carefully**_ as there are a few 'gotchas' if the steps aren't followed precisely.

But when I did it for the wedding website, took me less than 2 hours (closer to 1.5) to implement and since then @mckennapsean has added some additional troubleshooting to the docs - they're in fantastic shape!

[2017-09-14 10:38] Cleop commented on #309
Who should emails be sent to? Mark? Info? something else?

[2017-09-14 11:55] iteles commented on #317
@Cleop Happy to use JavaScript to enhance the UX, but it *must* gracefully degrade to what you have above when JS is switched off 👍
The important thing is that if JS is useful to make things clearer for the person viewing the site, a non-JS fallback must exist.

[2017-09-14 11:57] iteles commented on #285
I don't understand this issue (and a few others like it). It has design in the title, was closed then reopened without explanation and now code has been added. I'm assuming this is no longer about design?

[2017-09-14 12:03] iteles commented on #320
I really don't understand the use of priority labels or milestones in this repo so I'm struggling to put things in an orderly fashion. Therefore, here are the proposed priorities for _today_:
+ #309
+ #283 timeboxed - could you please add a separate issue for adding JS to the team page and estimate It separately?
+ #222 - this is actually more important then #283 for me, but the team page needs to

[2017-09-14 12:09] iteles commented on #222
@Cleop Based on your research and conversations with @Danwhy, please split this issue out into chunks that you can explain and estimate so as to capture the information you have already gathered, even if we don't get around to completing everything.

+ Clicks to navigation items should be the highest priority and I suspect the simplest to implement
+ Scrolling and understanding where on the page p

[2017-09-14 12:32] iteles commented on #317
It's worth flagging in the issue when JS will be used @Cleop 👍

[2017-09-14 12:49] iteles commented on #293
Works for the MVP 👍

[2017-09-14 12:49] #293 closed

[2017-09-14 15:54] Cleop commented on #283
- [ ]  Show team members job title by default?
- [ ]  Team member bio only shows on click not hover?
- [ ] Some team members do not have bios - keep them?(12/28)
- [ ] Need to add new team members
- [ ] Need github and twitter handles
- [ ] Does 1st person/3rd person variation matter
- [ ] Is it okay that some bios are really long?
- [ ] Use js to make card appear on top then style
- [ ] Use js to

[2017-09-14 16:37] Cleop commented on #222
- where submitting contact form
- navigation links - which ones are people are people clicking on, from where.
- how far down are people scrolling, at what point are people coming off the page?

[2017-09-15 08:45] Cleop opened #322 "Update Nelson's and Conor's Bio"
Relates to #288
Some bios on the team page are very long and not fitting with the UI:
![image](https://user-images.githubusercontent.com/16775804/30474106-72c4c5f8-99fa-11e7-9dd6-ca1051f46291.png)
Either we need to impose an approximate word limit and ask people to revise their bios accordingly or we need to change the UI to allow for longer bios.

[2017-09-15 08:45] ghost opened #323 "Usage of colour for CTA on app page"
Moved from https://github.com/dwyl/dwyl-site/pull/302#discussion_r137953274

[2017-09-15 08:46] markwilliamfirth opened #324 "Style Guide"
Linked to https://github.com/dwyl/dwyl-site/issues/323

[2017-09-15 08:55] markwilliamfirth commented on #14
@iteles can you clarify what needs changing?

[2017-09-15 08:57] markwilliamfirth commented on #322
@Cleop yes there is a word limit - this one needs to be shortened - I can do this

[2017-09-15 09:01] Cleop commented on #322
I think it's worth checking all for more that have broken the word limit, at a glance @Conorc1000 's is over 100 words.

[2017-09-15 09:01] markwilliamfirth commented on #283
@Cleop twitter handles are here: https://github.com/dwyl/dwyl-site/issues/282#issuecomment-309475878

[2017-09-15 09:06] markwilliamfirth commented on #283
Github handles:
markwilliamfirth
iteles
nelsonic
naazy
SimonLab
Cleop
Conorc1000
Danwhy
harrygfox
jackcarlisle
katbow
nogainbar
RobStallion
roryc89
shouston3
sohilpandya

[2017-09-15 09:08] Cleop commented on #222
@iteles - how do you think I should test my tag manager/ analytics work? Currently both are hooked up to dwyl.com but the redesign is set up on: dwyl.github.io/dwyl-site. dwyl.com doesn't have the tag manager scripts in.

I could redirect the tag manager stuff to the gh pages site for now but I don't want to lose the previous/live data from the existing site for google analytics. Do you think sett

[2017-09-15 09:08] iteles commented on #323
@markwilliamfirth To clarify intention with that comment was not about the colour itself, it was about the quantity of colours and whether this was the right usage of the orange.

Propose a title change to: 'Usage of colour for CTA on app page' or something of the sort

[2017-09-15 09:09] iteles commented on #14
@markwilliamfirth Yes, sorry, `href="#"` is what will throw an accessibility error.

[2017-09-15 09:11] iteles commented on #222
@Cleop Whichever you think makes the most sense. Happy for you to set up a test GA account for now which we then swap over to the one we want to use, but only if that's not very complex!

[2017-09-15 10:11] markwilliamfirth opened #326 "Update Footer"
- [x] Copyright 2017 © DWYL LTD, company number 09525434. Registered in England & Wales at Focus Hub, Unit 16 Palmers Road, London, United Kingdom, E2 0SY. All rights reserved.

[2017-09-15 10:12] markwilliamfirth opened #327 "Broken Links"
- [x] IC and SMG don’t link from portfolio page
- [x] IC, SMG and EMF don’t link from home page

- [x] start your own success story doesn’t link to contact form
- [x] neither does how can we help
- [x] or enquire now

**Values page** - these don't work:
- [x] Join Our Community
- [x] Meet the Team
- [x] Sound like somewhere you’d like to work? - should link to careers

- [x] Careers link doesn't w

[2017-09-15 10:13] markwilliamfirth opened #328 "IC and SM case study pages"
Linked to https://github.com/dwyl/dwyl-site/issues/327

Copy here:
https://github.com/dwyl/dwyl-site/issues/280#issuecomment-309492720
https://github.com/dwyl/dwyl-site/issues/280#issuecomment-309493158

[2017-09-15 10:14] markwilliamfirth opened #329 "Transparent dwyl favicon"
Is it possible to make the favicon background transparent?

<img width="26" alt="screen shot 2017-09-15 at 11 13 23" src="https://user-images.githubusercontent.com/5732209/30477958-f24e48c4-9a06-11e7-934b-277e56be0114.png">

Might look better as opposed to with the white background

[2017-09-15 10:15] markwilliamfirth opened #330 "Update Address in contact section"
Unit 16 Palmers Road,
London, E2 0SY, UK

- [x] Adds 'Unit' to address -> 'Unit 16'

[2017-09-15 10:32] Cleop commented on #328
@markwilliamfirth - I need screenshot images of the app on a mobile phone

[2017-09-15 11:03] markwilliamfirth commented on #328
@cleop is that a blocker or can we use the other images in the meantime?

[2017-09-15 11:06] markwilliamfirth opened #331 "EMF logo replacement"
<img width="334" alt="screen shot 2017-09-15 at 12 05 20" src="https://user-images.githubusercontent.com/5732209/30479668-2cf6a3a2-9a0e-11e7-88b7-6c74ee2b69bf.png">

EMF logo needs replacing - looks like it has an off-white background

[2017-09-15 11:06] Cleop commented on #328
I'm uploading with the existing images. I just wanted to give you the chance to source alternatives if you have the time/ depending on how high a priority it is for you.
![image](https://user-images.githubusercontent.com/16775804/30479636-0806ab50-9a0e-11e7-899c-7c488bce1b0e.png)

For the technology icons I will currently only put in those we have. It's up to you how much this is an issue for you.

[2017-09-15 11:14] markwilliamfirth opened #332 "Sohil Job Title"
- [x] Should say iOS Developer

[2017-09-15 11:36] Cleop commented on #327
We don't yet have a careers page @markwilliamfirth see: #306 - what would you like me to do for those links for the time being?

[2017-09-15 11:58] markwilliamfirth commented on #327
@cleop please just push up this copy (https://github.com/dwyl/dwyl-site/issues/223#issuecomment-319077516) onto a new page and link it and we'll see if harry comes back with a design

It's not a massive priority so it doesn't matter if it's really pretty, we just need something there

[2017-09-15 12:03] Cleop commented on #326
Is it dwyl ltd or DWYL LTD? @markwilliamfirth

[2017-09-15 12:05] iteles commented on #223
@markwilliamfirth "Unlimited holiday" is a goal but we haven't got there yet! We need to discuss this and set the expectations before making it an official company policy 👍

[2017-09-15 12:06] markwilliamfirth commented on #223
@iteles isn't it already in the contracts?

[2017-09-15 12:09] Cleop opened #334 "Create Careers Page"
- [ ] Create careers page with the following copy and minimal styling

**Copy:**

Careers

Build exceptional products with the world's most creative companies.

At dwyl, you’ll work with a team of collaborative problem-solvers who are thoughtful, and talented. You’ll also work with hand-picked clients who have a positive social impact.

Learn
We value learning and sharing our knowledge. We want ev

[2017-09-15 12:10] Cleop commented on #223
To keep this all in an open issue, please can you confirm these things on this issue: https://github.com/dwyl/dwyl-site/issues/334

[2017-09-15 12:12] markwilliamfirth commented on #326
@Cleop

everywhere dwyl is referred to in the site use lowercase dwyl

when it's the legal name revert to uppercase DWYL LTD like here https://beta.companieshouse.gov.uk/company/09525434

[2017-09-15 12:14] markwilliamfirth commented on #334
In response to https://github.com/dwyl/dwyl-site/issues/223#issuecomment-329764004

I think the unlimited holiday is correct as it is already in our contracts - @iteles to confirm

[2017-09-15 12:15] iteles commented on #223
@markwilliamfirth Ah, unlimited unpaid holiday, I see what you mean 👍
Works for me.

[2017-09-15 12:18] #5 closed

[2017-09-15 12:20] markwilliamfirth commented on #301
@cleop this will need to be created once I've done this https://github.com/dwyl/blog/issues/1

[2017-09-15 12:21] #35 closed

[2017-09-15 12:24] #178 closed

[2017-09-15 12:25] #180 closed

[2017-09-15 12:26] #192 closed

[2017-09-15 12:27] #21 closed

[2017-09-15 12:29] sohilpandya commented on #332
Hey Mark. Why the change from lead full stack dev to this? Just want to understand the thinking. 😊

[2017-09-15 12:38] markwilliamfirth commented on #332
@sohilpandya I thought it was incorrect - where did lead full stack come from? Is that something you agreed with Inês?

[2017-09-15 12:57] #181 closed

[2017-09-15 13:08] markwilliamfirth opened #335 "Discussion: Who to include on team page"
I think this was never fully settled on so making an issue

I propose that the team page should only be for people that work for dwyl in an employee or contractor capacity (the london team), especially now that we have the community page which shows the broader dwyl community

Are there any opposing views to this?

[2017-09-15 15:09] ghost opened #336 "New SMG images"
Requested as per https://github.com/dwyl/dwyl-site/pull/333/files/02ddcbbb57b249d8c1994ce55eb1e9d9d9d4572b#r139168261

[2017-09-15 15:37] iteles commented on #336
@cleop Took me one minute, so thought I'd do it, 2 to choose from:

<img width="1164" alt="screen shot 2017-09-15 at 16 31 11" src="https://user-images.githubusercontent.com/4185328/30490909-5e39e08a-9a33-11e7-8d2e-0d8d550dba09.png">

<img width="1133" alt="screen shot 2017-09-15 at 16 32 00" src="https://user-images.githubusercontent.com/4185328/30491071-f1f66cf8-9a33-11e7-8294-0fd905e024dc.png">

[2017-09-15 15:44] markwilliamfirth commented on #336
@iteles these will need to be replaced by mobile ones as well

[2017-09-15 16:37] iteles commented on #336
Sure! Took another couple of minutes:

<img width="346" alt="screen shot 2017-09-15 at 17 36 27" src="https://user-images.githubusercontent.com/4185328/30493563-72ca2ed4-9a3c-11e7-8e97-2f4479c1a11b.png">
<img width="344" alt="screen shot 2017-09-15 at 17 36 02" src="https://user-images.githubusercontent.com/4185328/30493564-72e81c28-9a3c-11e7-9fbb-001a4458ca68.png">

[2017-09-15 18:14] Cleop commented on #301
Leaving share buttons, disqus reviews and 'you might also be interested in' section for another time.

[2017-09-15 18:35] Cleop commented on #320
Closing as the time is now over.

[2017-09-15 18:35] #320 closed

[2017-09-15 18:36] Cleop commented on #317
Closing as answer provided.

[2017-09-15 18:36] #317 closed

[2017-09-15 20:48] markwilliamfirth commented on #336
@iteles should we not have two separate images with one showing search results maybe?

[2017-09-17 07:10] iteles commented on #336
We can have whatever you think works well @markwilliamfirth, but the comment I made in the PR which is the only thing referenced in the description of this issue was just about this particular image being cut, so that's what I went on :blush:

[2017-09-18 16:04] markwilliamfirth opened #339 "Inês headshot"
Replace with https://github.com/dwyl/hq/issues/227#issuecomment-302648142

[2017-09-18 16:24] markwilliamfirth opened #340 "Add Noga"
![noga](https://user-images.githubusercontent.com/5732209/30552526-2214ce02-9c96-11e7-9216-6c437978644a.png)

[2017-09-18 16:30] markwilliamfirth opened #341 "Add Finn"
![finn](https://user-images.githubusercontent.com/5732209/30552759-fcb243fa-9c96-11e7-8dd3-61862441b788.jpeg)

[2017-09-18 16:30] markwilliamfirth opened #342 "Add Zooey"
https://avatars3.githubusercontent.com/u/21139983?v=4&s=460

[2017-09-20 09:10] ZooeyMiller commented on #307
What kinds of phrases are we looking to optimise for? @finnhodgkin and I are looking into doing some SEO on the site today, but we need to know what to optimise for in order to alter the copy.

The site already shows as the first result for `dwyl`, but what about more general search terms?

[2017-09-20 09:47] markwilliamfirth commented on #307
Linked to: https://github.com/dwyl/hq/issues/328 https://github.com/dwyl/hq/issues/379 https://github.com/dwyl/hq/issues/157

**Suggestions:**
- app development
- mobile app
- mvp
- health
- medical
- education
- app developers
- website developers
- startup
- build an app
- development agency
- application
- applications
- apps
- need
- bespoke
- best
- london
- build
- developed
- developers
- d

[2017-09-20 09:57] finnhodgkin opened #343 "Meta keywords tag is arguably deprecated"
Google announced they were dropping the keywords meta tag in 2009 and it seems like the other search giants have since followed.

[Some articles (2014)](https://chrisedwards.me/seo/keyword-meta-tag-google/) even say that using keywords has the potential to negatively impact search results. Seems dubious but still worth considering :woman_shrugging:

The arguments for keeping the tags seem to be th

[2017-09-20 10:03] ZooeyMiller commented on #307
So, if we want to be present in searches for these kinds of terms then our content needs to reflect that, and we need to use these terms in our copy.

Using meta keywords in not really relevant for SEO anymore so we can't just bung them all in as a list (#343), so in regards to these words they would have to be put into our copy, are @finnhodgkin and I okay to edit the copy? Or should we just rais

[2017-09-20 10:08] markwilliamfirth commented on #307
@ZooeyMiller yep - the website copy on the redesign site is recent and will probably need to be changed several times over as we iterate so please augment the copy as you think appropriate, don't just put all of the suggestions in there though, only where they fit and make sense and then assign the PR for myself or Inês to review

[2017-09-20 10:09] markwilliamfirth commented on #307
Also if there are other keywords and/or copy changes that you think might be good please suggest them as well!

[2017-09-20 10:13] ZooeyMiller opened #344 "Titles and descriptions on each page should be unique"
The titles and descriptions for each page should be unique, and should contain the kinds of terms we want to optimise for (in terms of SEO).

Having unique titles and descriptions makes it easier for search engines to distinguish between each page, and allows us to use the terms/queries we want to show up for, in a nice way.

[2017-09-20 10:17] iteles commented on #344
Linked to https://github.com/dwyl/dwyl-site/pull/333#discussion_r139167661

[2017-09-20 12:00] markwilliamfirth commented on #281
Tested 👍

http://dwyl.github.io/dwyl-site/portfolio

[2017-09-20 12:00] #281 closed

[2017-09-20 12:21] markwilliamfirth commented on #225
I think for now this can go on our portfolio page

In addition to our client work we also build and maintain a number of open source projects that help people to learn and **d**o **w**hat **t**hey **l**ove. Check out some of most highly-rated repositories here:

<img width="995" alt="screen shot 2017-09-20 at 13 19 26" src="https://user-images.githubusercontent.com/5732209/30643335-5db0d746-9e06-1

[2017-09-20 12:23] markwilliamfirth commented on #58
Science Museum
Global M
Ellen Macarthur Foundation - CE100 Platform
Thomas Cook
Safe Lives
City University
Age UK
Oxford Abstracts
ART
Inclusive Classrooms
Odysseon
Yoti
Oxfam
Mindwave - Healthlocker
Mindwave - FREED
Airsupply
Mindwave - Medcheck (Dementia)
Risk Resource
iOS development
One Fine Stay

[2017-09-20 12:44] markwilliamfirth commented on #295
Harry hasn't been commissioned yet for additional work on this, at the moment this is just an idea and doesn't require additional design work

In terms of this idea, at the moment the MVP would be that the community banner profile pics link through to our actual community members

[2017-09-20 12:46] ZooeyMiller opened #345 "Accessibility: language attribute"
We need to add a language attribute to the HTML tag at the top of each HTML page. It's really important for accessibility.
e.g. `<html lang="en">`

[2017-09-20 12:47] markwilliamfirth commented on #311
I think we should still update this as it's good to have it functioning from a company email as opposed to a personal email

Not a high priority though

[2017-09-20 13:55] markwilliamfirth commented on #322
Nelson's should be replaced by:

Hi! I'm Nelson and I'm on a quest to change the world with technology!
I systematically catalog & share everything I learn so that
anyone can learn what I know fast and for FREE: https://github.com/dwyl?q=learn

My job is to write & review code, help others learn & grow and "unblock" things.

Interests: Any Technology or Idea that improves the lives of of people, a

[2017-09-20 14:00] markwilliamfirth commented on #288
@SimonLab please 🙏 submit a bio if you can even if it's only a couple of sentences. It would be great to have one from everyone on the dwyl team on the website

[2017-09-20 15:14] finnhodgkin commented on #344
https://github.com/dwyl/dwyl-site/pull/347#issuecomment-330883526

[2017-09-20 15:41] ZooeyMiller opened #348 "URLs should be relevant for SEO purposes"
As mentioned in https://github.com/dwyl/dwyl-site/pull/333#discussion_r139167661 we need to make sure that the URLs for all of the pages are descriptive of the page, both for the sake of SEO and for the user.

Since we're not using a server these need to be the file names.

[2017-09-20 15:54] ZooeyMiller opened #349 "app_google_form_handler.js fails linter"
The pre-commit/linter fails on the `app_google_form_handler.js` file.

I think it's been missed up to this point as if you commit from withing the `redesign` directory then the pre-commit doesn't seem to run.

[2017-09-20 16:02] ZooeyMiller commented on #349
Do we want to set up the linter to run on the  `app_google_form_handler.js` or should I just remove it from the linter? It seems to be doing quite a specific thing and I'm not sure if the goodpart linter is that relevant to it.

[2017-09-20 16:10] ZooeyMiller opened #350 "Contact anchor link not working."
The anchor link in the navbar for `Contact` has a href of `#contact`. In order for this to work the container we're linking to needs to have an id of `contact`, currently it has a `name` of `contact`.

[2017-09-20 16:14] markwilliamfirth commented on #350
This should have been covered in #327

[2017-09-20 16:15] ZooeyMiller commented on #350
Sorry, should I have added it to that issue? Just saw it and thought I'd quickly fix it.

[2017-09-20 16:15] markwilliamfirth commented on #350
@ZooeyMiller no this is fine, just making a not to link them together

[2017-09-20 16:36] #350 closed

[2017-09-20 16:46] finnhodgkin commented on #327
Pretty sure none of the `img`s are going to work for nested pages.

They're all declared with relative paths `./img/...`. We could change all links including `img src`s from `/dwyl-site/` to just `/` and then it should work for images too.

[2017-09-21 09:38] ZooeyMiller commented on #348
The only suggestions I have for now would be to change `app.html` to `time-app.html`, but we need to keep this in mind for any new pages we create.

[2017-09-21 10:28] finnhodgkin opened #354 "Footer / Header templates"
Can I please write a short node script to add the footer / header to every html file in the redesign folder? We keep having to find/replace and some of the pages don't have Google analytics, etc.

There are definitely higher priority issues, but if we're planning on keeping gh-pages for a while then it could save time overall.

[2017-09-21 10:30] finnhodgkin commented on #354
Sorry dwylbot. Accidentally hit enter.

[2017-09-21 10:40] markwilliamfirth commented on #354
Linked to https://github.com/dwyl/dwyl-site/issues/270

@finnhodgkin this was suggested by Cleo back in the day, but because we just wanted something up asap we didn't do it, but since we're blocked by #304 now it doesn't really matter anymore - do whatever saves us more time collectively 👍

Although bear in mind that the site is eventually going to built in our stack https://github.com/dwyl/dwyl-

[2017-09-21 10:54] ZooeyMiller commented on #345
@finnhodgkin has this been done on all HTML files now? Is this ready to be closed?

[2017-09-21 10:56] finnhodgkin commented on #345
I think it should remain open until all the waiting changes from master are merged to gh-pages. Some pages exist in multiple places, one copy with the tag and one copy without.

Once this final merge is in we should stick to making PRs to the gh-pages branch rather than master.

[2017-09-21 11:20] #342 closed

[2017-09-21 11:20] #341 closed

[2017-09-21 11:20] #340 closed

[2017-09-21 11:20] #339 closed

[2017-09-21 11:20] #332 closed

[2017-09-21 11:21] #335 closed

[2017-09-21 11:22] #322 closed

[2017-09-21 11:23] #334 closed

[2017-09-21 11:23] #328 closed

[2017-09-21 11:23] #327 closed

[2017-09-21 11:23] #326 closed

[2017-09-21 11:24] #301 closed

[2017-09-21 11:25] ghost opened #355 "Individual blog pages functionality"
![image](https://user-images.githubusercontent.com/16775804/28217160-136a1632-68ac-11e7-9f37-154432632afa.png)
![image](https://user-images.githubusercontent.com/16775804/28217210-45b5a462-68ac-11e7-807f-a933b330711c.png)
![image](https://user-images.githubusercontent.com/16775804/28217196-368d6d9e-68ac-11e7-894f-5e38e01d51ad.png)
![image](https://user-images.githubusercontent.com/16775804/2821722

[2017-09-21 11:25] markwilliamfirth commented on #301
Closed in favour of https://github.com/dwyl/dwyl-site/issues/355

[2017-09-21 11:26] #285 closed

[2017-09-21 11:27] #283 closed

[2017-09-21 11:27] #274 closed

[2017-09-21 11:27] #271 closed

[2017-09-21 11:28] #268 closed

[2017-09-21 11:29] ghost opened #356 "Add Live App Links to Portfolio"
Linked to https://github.com/dwyl/dwyl-site/issues/291

Add live app links

Blocked by https://github.com/dwyl/dwyl-site/issues/304

[2017-09-21 11:29] #291 closed

[2017-09-21 11:30] #299 closed

[2017-09-21 13:20] ZooeyMiller opened #357 "SEO suggestion: post blogs on medium"
I know that we are building blogs into the website so it may not be blogs strictly under dwyl's name, but for SEO purposes, having lots of links to a site from another high quality site (e.g. Medium  for blogs) boosts SEO really nicely.

If, for example we set aside time for dwylers to post personal (of course web/digital product development related) blogs on Medium where they linked to the dwyl s

[2017-09-21 13:46] markwilliamfirth commented on #357
Linked to:
https://github.com/dwyl/hq/issues/265

@ZooeyMiller - this has been discussed a number of times (I am actually in favour of Medium) but @iteles is concerned that Medium will cause SEO issues (see https://github.com/dwyl/hq/issues/265#issuecomment-324573829)

Can you explain why it is beneficial?

[2017-09-21 13:55] finnhodgkin opened #358 "Home page not responsive"
The homepage doesn't scale well on very large or medium sized screens. A lot of the content gets squished into tiny columns or stretched into massive text lines when the window is below or above normal HD desktop. Some sections also have really minimal padding and look pretty crowded.

Not sure if this is intentional but both are really easy to fix :+1:

[2017-09-21 15:27] #330 closed

[2017-09-21 15:36] ZooeyMiller commented on #357
My understanding is that in modern SEO having high quality backlinks (links to our business's site from another high quality site) is one of the best ways to improve SEO. More information on [what a high quality backlink is can be found in this article](https://www.seomark.co.uk/high-quality-backlinks/).

I don't fully understand the mention of ["zero SEO benefit"](https://github.com/dwyl/hq/issue

[2017-09-21 17:12] markwilliamfirth opened #362 "Make Home Page Responsive"
https://github.com/dwyl/dwyl-site/pull/359#issuecomment-331206895

[2017-09-21 17:13] #358 closed

[2017-09-21 17:49] markwilliamfirth commented on #357
@iteles what do you think?

[2017-09-22 12:46] iteles commented on #362
@markwilliamfirth This is actually a deployment blocker, especially if it's also the case with pages other than the homepage.

[2017-09-22 12:50] markwilliamfirth commented on #362
@finnhodgkin could you take another look at further improving the responsiveness?

[2017-09-22 12:53] iteles commented on #362
Disclaimer: I haven't pulled this down to review myself, I'm just going on the issue title.

[2017-09-22 13:15] finnhodgkin commented on #362
@markwilliamfirth Sure thing. I'll just go page by page - good to get some tachyons practice :smile:.

[2017-09-22 13:26] markwilliamfirth commented on #309
@Cleop what spreadsheet does this go to?

[2017-09-22 13:31] markwilliamfirth commented on #345
I've added this to every page on the gh branch so it should be fine now 👍

[2017-09-22 13:31] #345 closed

[2017-09-22 13:52] markwilliamfirth opened #363 "Differentiate job titles and names / liven up team page"
Or something else to liven up the page a bit and differentiate names and titles

<img width="502" alt="screen shot 2017-09-22 at 14 51 14" src="https://user-images.githubusercontent.com/5732209/30747578-9cd6dab0-9fa5-11e7-943c-25c4cde63232.png">

[2017-09-25 10:17] finnhodgkin commented on #362
Still  working on this.  It's taking longer than I thought to cover everything, mostly because it involves so much copy/pasting between pages.

[2017-09-25 10:47] finnhodgkin opened #365 "Collected site fixes (responsiveness/tweaks)"
I keep finding minor things that need updating around the site. Will keep a to-fix list here.

### Portfolio page:
The links are displaying in blue and there are responsiveness issues
![selection_028](https://user-images.githubusercontent.com/22300773/30804924-2c7e8134-a1e7-11e7-8e64-40dfdacae497.png)

### Values:
The definition section scales very strangely, jumping between too small when large a

[2017-09-25 10:49] markwilliamfirth commented on #362
Thanks @finnhodgkin !

Linked to #354 #270

[2017-09-25 12:03] finnhodgkin commented on #365
I'm not sure about the fixes on the team page. I'll come back to them when I'm done with everything else and see if I can see a nicer solution. Maybe scaling up the profile images for the medium tachyons breakpoint will help.

[2017-09-25 12:41] markwilliamfirth commented on #365
@finnhodgkin I was actually wondering if we should have 4 people per row on desktop as opposed to 3 to make the best use of space - is this easy to change?

[2017-09-25 14:47] finnhodgkin commented on #365
@markwilliamfirth Done :smile:

[2017-09-25 14:54] finnhodgkin commented on #365
Looks a bit squashed when the breakpoint is first hit:

![selection_039](https://user-images.githubusercontent.com/22300773/30815011-bfa11eaa-a209-11e7-802c-c2f33123f1ca.png)

[2017-09-25 15:16] finnhodgkin commented on #362
Took an extra 2h on top of my already underestimated previous estimate, partly due to the distraction of having Ed Miliband downstairs talking to Founders & Coders - strange day...

[2017-09-25 15:51] finnhodgkin commented on #363
I'll make a PR so we can see what it looks like :+1:

[2017-09-25 18:06] #365 closed

[2017-09-25 18:12] iteles commented on #363
@markwilliamfirth I think you're right in that it needs a little liveliness.

I got to this party late but in light of your comment here: https://github.com/dwyl/dwyl-site/pull/366#issuecomment-331965053 I'm not too keen on the job titles being enhanced as that's not really something we value - I'd be much more keen on highlighting people's names in this case.

We might need a little input from ou

[2017-09-25 21:44] finnhodgkin commented on #363
![dwyl - google chrome_042](https://user-images.githubusercontent.com/22300773/30832185-1ba40acc-a242-11e7-8a36-bbc989898c7d.png)

Or with more focus on the names:
![dwyl - google chrome_043](https://user-images.githubusercontent.com/22300773/30832429-fa12aad4-a242-11e7-892e-a2aa7772fc0c.png)

[2017-09-26 09:25] finnhodgkin opened #367 "Squashed text on the team page"
The team bios get really thin when displayed at medium resolution:

![selection_039](https://user-images.githubusercontent.com/22300773/30852554-0cc440b4-a2a4-11e7-8050-058050ade131.png)

IMO it looks neater with a row of three breakpoint for this size:

![selection_049](https://user-images.githubusercontent.com/22300773/30852612-4620aeec-a2a4-11e7-8d60-a60804005e3c.png)

Could maybe even go down

[2017-09-26 09:47] ZooeyMiller commented on #363
Another thing to note is that when run through pa11y (accessibility checker) it errors on dwyl teal on a white background due to insufficient contrast.

[2017-09-26 10:01] #343 closed

[2017-09-26 10:23] finnhodgkin opened #369 "'Contact' covered by hamburger nav on mobile"
Would be nice to have the hamburger menu close when contact is clicked, as is the case for all the other actual links:

![contact](https://user-images.githubusercontent.com/22300773/30855342-877987d0-a2ac-11e7-8acb-214d0c5976e7.gif)

[2017-09-26 10:25] finnhodgkin commented on #369
Pretty sure this can't be achieved without JS...

[2017-09-26 11:04] markwilliamfirth commented on #367
👍

[2017-09-26 11:04] #367 closed

[2017-09-26 11:06] iteles commented on #363
Loving the focus on the names @finnhodgkin, feels very 'us' ;)

[2017-09-26 11:09] finnhodgkin commented on #363
What do you think @markwilliamfirth ?

I'm happy to make the change :+1:

The other minor change I was thinking about making to the team page is to enlarge the photo and lower the padding when only one profile is shown:

![selection_048](https://user-images.githubusercontent.com/22300773/30857421-8ea430d0-a2b3-11e7-81da-5c2395f09035.png)

[2017-09-26 11:25] markwilliamfirth commented on #363
@finnhodgkin go for it!

[2017-09-26 13:16] markwilliamfirth commented on #363
completed

[2017-09-26 13:16] #363 closed

[2017-09-26 13:25] markwilliamfirth opened #372 "Padding above contact anchor"
When going to contact anchor padding is a bit off

<img width="310" alt="screen shot 2017-09-26 at 14 24 31" src="https://user-images.githubusercontent.com/5732209/30862593-7dc321be-a2c6-11e7-8ce8-94c935bada0b.png">

[2017-09-26 15:11] markwilliamfirth commented on #362
Still to do:

As per https://github.com/dwyl/dwyl-site/pull/364#issuecomment-331963954

MVP section at medium scale requires revision - might require custom css

@finnhodgkin can you take a look at this when you have time?

[2017-09-26 15:15] finnhodgkin commented on #362
@markwilliamfirth I can't get this to break on the live site. Are you looking at the latest version? Otherwise I guess it could be differences in browsers.

![selection_050](https://user-images.githubusercontent.com/22300773/30868212-e1b2a3ca-a2d5-11e7-80f1-ce057f07f923.png)

[2017-09-26 15:20] markwilliamfirth commented on #362
@finnhodgkin I was just going by your comment, just looked at it myself on the live site and it looks like it works fine - I guess that means we can close this one now. Thanks for fixing the responsiveness! 🎉

[2017-09-26 15:20] #362 closed

[2017-09-26 15:35] ZooeyMiller commented on #222
@finnhodgkin and I have looked into setting up analytics for which navigation link was clicked, and from which page, and this will be straightforward once we have access to the correct tag manager account.

We've done this on my own tag manager account with github pages just because it's what we have access to. We're now going to look into the analytics with tag manager to explore scrolling.

[2017-09-26 16:53] ZooeyMiller commented on #222
We've been working on a code block for a tag in GTM to register a users' maximum scroll height, and send the maximum scroll height when they leave the page. We have had a chance to test it with GTM yet but we've played with everything bar the pushing of the datalayer in the browser console, and it all works as expected.

[code]

[2017-09-26 17:03] finnhodgkin commented on #222
Couple issues we need to fix:
- Scroll height should be pushed in increments (25%, 50%, etc) so the data is grouped and easier to analyse on GA.
- Add time spent on page. Scroll height by itself isn't that great a metric - users will sometimes super quickly scroll around a page without actually taking anything in

[2017-09-27 09:48] ZooeyMiller commented on #222
We've tested the script on my github pages test site and it works as expected. We've modified it so that rather than giving a precise percentage it gives the percent rounded down to the nearest 20. Is this increment okay? Or would we prefer a different one?

[code]

[2017-09-27 16:27] ZooeyMiller opened #373 "Take recent changes to master and add them to gh-pages"
Due to @finnhodgkin and I not realising we should have been working off of gh-pages as a base branch we have made changes for the redesign which have been merged into master, there have also been different changes merged into gh-pages, meaning that the previous idea of merging master into gh-pages and then copying the bodies of the files in the redesign subdirectory into the files in the root dire

[2017-09-27 16:34] ZooeyMiller opened #375 "Remove redesign folder from gh-pages branch"
The only purpose for the redesign folder in gh-pages (as far as I can see) is to allow for merging master into the branch, since we will be removing this process, so that for people to work directly on the redesign they will work from gh-pages as a base branch, I think we should remove the redesign folder.

It is the source of all of the merge conflicts, and as of #374 will be out of  date.

[2017-09-28 16:44] markwilliamfirth commented on #375
Completed

[2017-09-28 16:44] #375 closed

[2017-09-28 17:03] markwilliamfirth commented on #373
Completed

[2017-09-28 17:03] #373 closed

[2017-09-28 19:14] iteles commented on #369
Nice gif @finnhodgkin, what did you use to make it?

[2017-09-28 19:18] finnhodgkin commented on #369
@iteles [Peek](https://github.com/phw/peek). It's crazy nice but unfortunately Linux only 😕

[2017-09-29 09:40] iteles opened #377 "dwyl.com is down"
The github pages PR #316 was merged into master without switching off automatic deployment and the build failed so the website is now down.

![screen shot 2017-09-29 at 10 33 28](https://user-images.githubusercontent.com/4185328/31010276-3cdfdd2a-a502-11e7-94e3-004a3b0a077d.png)

We need to:
+ [x] Give @finnhodgkin and @ZooeyMiller access to the dwyl heroku app
+ [ ] Roll back to the previous vers

[2017-09-29 10:02] ZooeyMiller commented on #377
The old dwyl site is now hosted on http://dwylio.herokuapp.com/, with automatic deploys disabled and deploying from the rollback-to-old-version branch.

The DNS needs changing so that dwyl.com points to the heroku app instead of GH pages.

[2017-09-29 10:08] ZooeyMiller commented on #377
it seems that as of 54d8d91c4344ebb826d6cdb182b028cbc0b3d676 the new version of the site is up with working links on http://dwyl.com

Should we still look into redirecting to the old site on http://dwylio.herokuapp.com/ or leave this as is?

[2017-09-29 10:09] markwilliamfirth commented on #377
This appeared as it was down for a few minutes because I switched the DNS to gh pages - everything is working!

[2017-09-29 10:09] #377 closed

[2017-09-29 10:21] markwilliamfirth opened #378 "Site is not Secure"
Not possible by conventional means:
<img width="763" alt="screen shot 2017-09-29 at 11 02 18" src="https://user-images.githubusercontent.com/5732209/31012102-7e6376de-a508-11e7-892b-d5d2cc27036d.png">

...but @finnhodgkin has suggested this is possible e.g. https://www.jonathan-petitcolas.com/2017/01/13/using-https-with-custom-domain-name-on-github-pages.html *if* we decide we want to do this at s

[2017-09-29 10:22] finnhodgkin opened #379 "Blog page max-width"
Somehow the blog page slipped by my responsiveness first pass:

![selection_052](https://user-images.githubusercontent.com/22300773/31012038-46508016-a508-11e7-956f-4a34c5eb5f16.png)
![selection_053](https://user-images.githubusercontent.com/22300773/31012041-4731fbfe-a508-11e7-8a3b-ef1c7cfd1782.png)
![selection_054](https://user-images.githubusercontent.com/22300773/31012044-48aa8de8-a508-11e7-95

[2017-09-29 10:31] ZooeyMiller opened #380 "Unclear that title on blog page is a link"
On dwyl.com/blog we have the title of the blog post, and a short description. The title of the blog is a link to the full blog, but from the styling, to me, it's unclear that this is a link leading to more content.

![the blog web development agile methodologies and more dwyl - google chrome_038](https://user-images.githubusercontent.com/21139983/31012435-b247e128-a509-11e7-9659-51487f8618c3.png)

[2017-09-29 10:53] markwilliamfirth commented on #348
👍

[2017-09-29 10:53] #348 closed

[2017-09-29 10:53] markwilliamfirth commented on #344
👍

[2017-09-29 10:53] #344 closed

[2017-09-29 10:53] ZooeyMiller opened #381 "Inconsistent favicons"
I'm unsure if this is just standard favicon weirdness or not, but I'm getting inconsistent favicons across the pages.

![the blog web development agile methodologies and more dwyl - google chrome_041](https://user-images.githubusercontent.com/21139983/31013051-38ed745c-a50c-11e7-9637-9b03b3f88b24.png)

![the team product developers ux-ui designers scrum masters and more dwyl - google chrome_042](h

[2017-09-29 10:54] markwilliamfirth commented on #381
Linked to #329

[2017-09-29 10:57] markwilliamfirth commented on #349
@ZooeyMiller is this issue still needed? Not sure if removal of redesign means that it now works?

[2017-09-29 10:58] markwilliamfirth commented on #369
This works!

[2017-09-29 10:58] #369 closed

[2017-09-29 11:05] finnhodgkin opened #383 "Relative links no longer necessary"
Now that the site is no longer hosted on a subdomain we can change most of the links from relative to absolute. So for example on the nested pages instead of a link to the homepage looking like:

[code]

It can look like this

[code]

[2017-09-29 11:09] ZooeyMiller commented on #14
We can use pa11y to check the site for accessbility, it has WCAG2 standards built in, but has the different levels as well, are we looking for A, AA or AAA rating? [More info on the differences between the levels in the stack overflow answer](https://stackoverflow.com/questions/2414321/why-wcag-made-3-level-a-aa-and-aaa).

On AA we get errors for contrast ratios, on A we do not.

[2017-09-29 11:13] markwilliamfirth commented on #383
@finnhodgkin I didn't realise this worked (https://github.com/dwyl/dwyl-site/pull/382#pullrequestreview-66122029)

does the change only break local viewing?

<img width="1072" alt="screen shot 2017-09-29 at 12 12 42" src="https://user-images.githubusercontent.com/5732209/31013784-9517c3e2-a50f-11e7-88e7-b8d416d63b6b.png">

[2017-09-29 11:14] ZooeyMiller commented on #349
@markwilliamfirth Now that we no longer have a package.json in master, we don't have any scripts, so it's not relevant.

If we do want to enforce goodparts then it could be something that we look at adding back in, but currently, not really relevant.

[2017-09-29 11:14] #349 closed

[2017-09-29 11:17] ZooeyMiller commented on #329
They're all .pngs so it's totally possible. We can either do it with these .pngs and do it with photoshop. Neither @finnhodgkin or I have it though. Or we could get the original heart logo image and save it with a transparent background, then regenerate the different favicons.

[2017-09-29 11:18] finnhodgkin commented on #383
Yeah unfortunately absolute links won't work without live-server, which acts similarly to GH-pages in the way that it serves files (though links to other pages still won't work because they don't include .html).

I would advise using `live-server` in development anyway because hot reloading makes everything speedier.

[2017-09-29 11:20] markwilliamfirth commented on #329
Linked to #194

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="appl

[2017-09-29 11:27] iteles opened #384 "Remove link to Blog"
Until we have blog posts, this doesn't make sense (and looks bad).

I suggest we remove the link to the blog from the nav temporarily.

<img width="986" alt="screen shot 2017-09-29 at 12 26 26" src="https://user-images.githubusercontent.com/4185328/31014180-853842ba-a511-11e7-83b3-38f794aa773e.png">

[2017-09-29 11:29] markwilliamfirth commented on #384
I don't think it looks bad - it's a new blog, it's only supposed to have 1 blog post?

[2017-09-29 14:14] markwilliamfirth commented on #383
solved by https://github.com/dwyl/dwyl-site/pull/385

[2017-09-29 14:14] #383 closed

[2017-09-29 14:16] markwilliamfirth commented on #379
Completed

[2017-09-29 14:55] #329 closed

[2017-09-29 14:55] markwilliamfirth commented on #381
done

[2017-09-29 14:55] #381 closed

[2017-09-29 14:58] markwilliamfirth commented on #194
Solved by https://github.com/dwyl/dwyl-site/pull/386

Works on Android - gonna assume works elsewhere too 👍
![screenshot_20170929-155709](https://user-images.githubusercontent.com/5732209/31021844-03ce9396-a52f-11e7-951f-66108d1a471c.png)

[2017-09-29 14:58] #194 closed

[2017-09-29 15:00] markwilliamfirth commented on #384
Solved by https://github.com/dwyl/blog/issues/19

[2017-09-29 15:00] #384 closed

[2017-09-29 15:06] markwilliamfirth commented on #197
Can confirm it still doesn't work

If you're the developer of your website, you'll need to make sure the source code complies with Open Graph Protocol (OGP) and certain image requirements specific to LinkedIn. Our developer website contains more details on setting display tags for shares (available in English only).
Below are the og: tags that must exist and their correct format:
<meta property='o

[2017-09-29 15:08] ZooeyMiller opened #387 "incorrect name in manifest.json"
The `name` in the manifest.json is "App", this should be something more specific like "dwyl-site" as it's the standard title for when someone installs to their home screen.

[2017-09-29 15:10] markwilliamfirth commented on #387
@ZooeyMiller let's make it "dwyl"? Looks cleaner on a phone screen

[2017-09-29 15:13] markwilliamfirth commented on #354
Closing in favour of https://github.com/dwyl/dwyl-site/issues/270

[2017-09-29 15:13] #354 closed

[2017-09-29 15:15] markwilliamfirth opened #389 "Phoenix Server"
https://github.com/dwyl/dwyl-site/issues/237#issuecomment-307075623

Required for https://github.com/dwyl/dwyl-site/issues/270

[2017-09-29 15:15] markwilliamfirth commented on #270
Blocked by #389

[2017-09-29 15:16] #387 closed

[2017-09-29 15:19] ghost opened #390 "Add All Technologies Icons to Case Studies"
Add all technologies icons to respective case studies

[2017-09-29 15:19] markwilliamfirth commented on #307
This was done 👍

[2017-09-29 15:19] #307 closed

[2017-09-29 15:26] markwilliamfirth commented on #215
Currently 2,443,572 bytes (2.5 MB on disk)

[2017-09-29 15:28] markwilliamfirth commented on #380
Linked to this: https://github.com/dwyl/dwyl-site/issues/299#issuecomment-315331781

We need link conventions

[2017-09-29 15:30] markwilliamfirth commented on #355
Linked to #357

[2017-09-29 16:23] finnhodgkin commented on #380
I reckon also make the whole block a link and add '...' to the end of the summary. Or possibly even add some kind of arrow or a `read more` link at the end of the summary.

[2017-09-29 17:06] markwilliamfirth opened #394 "Link Conventions"
Linked to:
https://github.com/dwyl/dwyl-site/issues/299#issuecomment-315331781
https://github.com/dwyl/dwyl-site/issues/380

We have a number of different types of links

<img width="476" alt="screen shot 2017-09-29 at 18 03 39" src="https://user-images.githubusercontent.com/5732209/31027019-9e7d4610-a540-11e7-9ef2-b6155447e953.png">
<img width="262" alt="screen shot 2017-09-29 at 18 03 48" src="h

[2017-09-29 17:07] markwilliamfirth commented on #380
Closed due to https://github.com/dwyl/dwyl-site/pull/392

Rest of discussion moved to https://github.com/dwyl/dwyl-site/issues/394

[2017-09-29 17:07] #380 closed

[2017-09-29 17:12] ghost opened #395 "Update README"
- [ ] General info about site (What it's for, why we have it, etc)
- [x] Who made it and who's responsible for what (e.g. Harry for design - link for invision, asset location)
- [x] Technologies used + how js should be used
- [x] How the submission and sign-up forms work
- [ ] Conventions (e.g. branding, capitalisation and links)
- [ ] How and why it's hosted
- [x] How to clone repo, set up live s

[2017-10-02 09:08] Cleop opened #396 "Time Beta App form email notification not working"
Emails via the google app script form are meant to go to hello@dwyl.com but I received this email when someone recently tried to sign up:

![image](https://user-images.githubusercontent.com/16775804/31070753-6d28664c-a759-11e7-8cdf-511e29eff33c.png)

@ZooeyMiller @finnhodgkin - please can you look into this and check that names are also successfully being recorded on the spreadsheet?

[2017-10-02 09:11] ZooeyMiller commented on #396
I don't think we have access to the spreadsheet? We'll be happy to look into it if someone shares it with us though.

[2017-10-02 09:32] markwilliamfirth commented on #396
This is because hello@dwyl.com doesn't exist yet...making it now

[2017-10-02 09:34] ZooeyMiller commented on #396
The info is being successfully recorded in the spreadsheet, from the test @finnhodgkin just did.

[2017-10-02 09:34] finnhodgkin commented on #396
The time app form works but the success message really doesn't look great:
![selection_056](https://user-images.githubusercontent.com/22300773/31071785-46b796c8-a75d-11e7-832a-b6b345b50ce2.png)

[2017-10-02 09:48] ZooeyMiller commented on #308
How are we going to make this work in terms of accessibility? If the make/be are background properties they'll be invisible to a screen reader (as far as I know), and if the text is actual text rather than an image we won't be able to give it alt text (so a screen reader will see it as "We can your MVP".

I'm sure there's a way around it, but I just want to make sure it's something we're thinking

[2017-10-02 10:44] Jbarget commented on #308
@ZooeyMiller you can hide from screen readers using [`aria-hidden=true`](
https://stackoverflow.com/questions/672156/is-there-a-way-to-write-content-that-screen-readers-will-ignore) and create a utility class called `.sr-only` that will read out what you need

[code]

[2017-10-02 11:41] iteles commented on #308
Thanks @Jbarget !

One day I will finish writing https://github.com/iteles/styling-for-accessibility and everyone will know this neat little trick!

[2017-10-02 11:44] iteles commented on #396
YIKES! I'm surprised this wasn't tested!
![screen shot 2017-10-02 at 12 43 40](https://user-images.githubusercontent.com/4185328/31075827-5c51c4d8-a76f-11e7-97bf-7d2b342a22f8.png)

@finnhodgkin This is an 'easy' fix, looks like it was Part 2 of https://github.com/dwyl/html-form-send-email-via-google-script-without-server#part-two---make-it-look-good- that was not implemented (or has a bug and isn'

[2017-10-02 11:48] Cleop commented on #396
It should change to the rocket, I did implement and test this. Might this have got lost when @markwilliamfirth merged things in?

[2017-10-02 11:49] ZooeyMiller commented on #396
@iteles sorry, we have been working on this, forgot to add in-progress label. PR is imminent.

[2017-10-02 11:51] markwilliamfirth commented on #396
@Cleop perhaps

I remember this working before too and I think this is the commit? https://github.com/dwyl/dwyl-site/commit/b5a69e4a5c8bc0a9d065b2b5bc8f85e9d9b8707f

[2017-10-02 11:52] finnhodgkin commented on #396
It's in the accessibility PR #391

The rocket is back :rocket:

I can't double check that the normal contact form still works but otherwise it's all in shape.

[2017-10-02 11:53] iteles commented on #396
Still works @finnhodgkin , got the email 👍

[2017-10-02 11:59] markwilliamfirth commented on #309
https://docs.google.com/spreadsheets/d/1PfPRD54M6K2hiN-1IkTC7IkJVRMAuEGoX1qz2cK5HrQ/edit?ts=59d204cc#gid=0

@Cleop thanks for sending over email - could you please transfer sheet ownership rights to me?

[2017-10-02 12:29] markwilliamfirth commented on #14
@ZooeyMiller I just ran pa11y

`npm install -g pa11y  `
`pa11y http://dwyl.com`

...and got this:

<img width="80" alt="screen shot 2017-10-02 at 13 26 01" src="https://user-images.githubusercontent.com/5732209/31077148-5f638b1a-a775-11e7-81e1-cda63c3acd8c.png">

Do you get the same?

I think A is fine for now

[2017-10-02 12:31] markwilliamfirth commented on #396
Success message now works

[2017-10-02 12:33] markwilliamfirth commented on #396
Email notification for time app sign-up still doesn't work

Email for normal contact form does work

[2017-10-02 13:01] finnhodgkin commented on #396
The time app signup form is working in that it updates this spreadsheet. Should it also be pinging an email?

https://docs.google.com/spreadsheets/d/1PfPRD54M6K2hiN-1IkTC7IkJVRMAuEGoX1qz2cK5HrQ/edit?ts=59d204cc#gid=0

[2017-10-02 13:02] ZooeyMiller commented on #14
@markwilliamfirth as standard it with run with AA. run `pa11y --ignore "warning;notice" --standard WCAG2A http://dwyl.com` to run A and ignore warnings. Passes for me!

[2017-10-02 13:09] markwilliamfirth commented on #14
@ZooeyMiller 👍

`pa11y --ignore "warning;notice" --standard WCAG2A http://dwyl.com`

<img width="206" alt="screen shot 2017-10-02 at 14 04 10" src="https://user-images.githubusercontent.com/5732209/31078577-978984f4-a77a-11e7-8f52-d4dd46e86773.png">

This passes! 🎉

Running through wave (http://wave.webaim.org/) we get:

<img width="1251" alt="screen shot 2017-10-02 at 14 05 28" src="https://user-

[2017-10-02 13:12] markwilliamfirth commented on #396
@finnhodgkin I didn't think that was part of the original plan, but that's what the issue title says

[2017-10-02 13:29] finnhodgkin opened #397 "Careers page title padding and max width"
The careers page has very low title padding, as well as no max width so the text is stretched on desktop:

![selection_058](https://user-images.githubusercontent.com/22300773/31079559-f46a423c-a77d-11e7-83be-0b30b2118389.png)

[2017-10-02 13:31] #372 closed

[2017-10-02 13:31] finnhodgkin commented on #372
Fixed :+1:

[2017-10-02 13:43] ZooeyMiller commented on #313
I'm going to look into this now. I'm not 100% on setting up a custom 404 on GH pages, hence the 2h time estimate so I can work that out.

[2017-10-02 13:47] markwilliamfirth commented on #396
@cleop (to clarify) is the intention for the form to also ping an email every time someone signs up?

[2017-10-02 14:07] markwilliamfirth commented on #396
hello@dwyl.com has now been set up

[2017-10-02 14:07] markwilliamfirth commented on #311
This can now be switched to hello@dwyl.com

[2017-10-02 14:18] ZooeyMiller commented on #313
@harrygfox do you have the asset of the broken dwyl heart that I can use?

[2017-10-02 14:19] markwilliamfirth commented on #197
complete #270 before this

[2017-10-02 14:24] markwilliamfirth commented on #313
![broken heart](https://user-images.githubusercontent.com/5732209/31081976-728a197e-a785-11e7-8a12-3c1b254508d2.png)

@ZooeyMiller @finnhodgkin have added you to the invision design project via your dwyl email

[2017-10-02 14:30] SimonLab commented on #313
Just wondering, is there a way for the users to get redirected to the main page? Is the logo a clickable link to the home page? Do we want a link? @markwilliamfirth @Cleop @ZooeyMiller ?

[2017-10-02 14:42] ZooeyMiller commented on #313
@SimonLab on the original design the 404 is just the body of the main outline of the page.

Here's a grab of the original invision design.

![dwyl preview mode - invision - google chrome_043](https://user-images.githubusercontent.com/21139983/31083006-5485c75e-a788-11e7-82e9-e86f09a7c357.png)

[2017-10-02 14:58] markwilliamfirth commented on #58
@iteles is this correct? Please can you let me know of any omissions and incorrect placement in the two lists?

**These companies worked with Nelson / Inês before dwyl:**
Global Alliance for Clean Cookstoves
Opportunity International
Plan International
IFC - International Finance Corporation (World Bank Group)
DFID - Department for International Development
Visionfund
Scottish School for Primary C

[2017-10-02 15:17] markwilliamfirth commented on #397
done

[2017-10-02 15:17] #397 closed

[2017-10-02 16:04] markwilliamfirth opened #401 "Improve dwyl Portfolio GitHub Repo Cards"
Linked to #399 , https://github.com/dwyl/dwyl-site/issues/225

Ideas from @finnhodgkin
- http://lab.lepture.com/github-cards/#dwyl/learn-elm-architecture-in-javascript|default That way the stars would update and it would display as text (better for SEO)
- Would be better to make html cards for these with text. They don't resize very well at smaller resolution
- Wait for #389 until the site has a b

[2017-10-02 16:06] #225 closed

[2017-10-02 16:07] markwilliamfirth commented on #313
This works!

[2017-10-02 16:14] finnhodgkin commented on #401
Having a go at converting these to hard-coded html. The github-cards thing I linked before seemed to get rate limited very quickly, and was also stuck to a sub-par design that doesn't really fit with the dwyl.com aesthetic

[2017-10-02 16:14] markwilliamfirth opened #402 "Contact Anchor Doesn't appear to be working anymore"
Contact Anchor Doesn't appear to be working anymore

[2017-10-02 16:18] finnhodgkin commented on #402
I think it must have been accidentally moved back in a subsequent pr. I moved the contact anchors inside the contact section and it is now above the <section> again. I'll redo it.

[2017-10-02 16:28] ZooeyMiller commented on #243
I just tested this using [ChromeVox](https://chrome.google.com/webstore/detail/chromevox/kgejglhpjiefppelpmljglcjbhoiplfn?hl=en) and "+" is definitely read out as "plus". I tried to do a screen recording but I don't have decent screen recording software with audio, so maybe someone with a mac could do the screen recording?

"&" is read out as "and" by chromevox so maybe that's a reasonable replace

[2017-10-02 16:45] markwilliamfirth commented on #402
Works again

[2017-10-02 16:45] #402 closed

[2017-10-02 16:47] markwilliamfirth commented on #243
@ZooeyMiller ok happy for you to replace with &amp; if that works!

[2017-10-03 09:45] finnhodgkin commented on #401
The links were breaking on mobile because they weren't set to `display: block` when not `table-cell`.

[2017-10-03 09:54] nelsonic opened #405 "NET::ERR_CERT_COMMON_NAME_INVALID connection is not private"
Anyone `else` seeing "***Your connection is not private***" when visiting: https://www.dwyl.com/
![image](https://user-images.githubusercontent.com/194400/31119465-73d256fa-a831-11e7-9430-6a3ff3ff3be0.png)

[2017-10-03 09:55] nelsonic commented on #405
After refreshing the page it _appears_ to be working:
![image](https://user-images.githubusercontent.com/194400/31119578-c47925e8-a831-11e7-9219-ab9c3ae797be.png)

Closing.

[2017-10-03 10:02] nelsonic commented on #405
Nope, a minute later the Privacy issue is still there:
![image](https://user-images.githubusercontent.com/194400/31119872-ba7d2c64-a832-11e7-959e-96a406922d8b.png)

[2017-10-03 10:03] ZooeyMiller commented on #390
From looking at the repos for the case studies, and looking at the readmes to see which technolgies have been used, all of them are now covered, apart from [wkhtmltopdf](https://wkhtmltopdf.org/). We don't have an asset for this in the invision design so I'm not sure if this is something we want a logo for.

[2017-10-03 10:04] nelsonic commented on #405
More detail:
[code]
![image](https://user-images.githubusercontent.com/194400/31119916-f1b45270-a832-11e7-97d6-6a191182a3a8.png)

Using GitHub pages with custom domain is causing the fail.

[2017-10-03 10:07] ZooeyMiller commented on #405
Related to #378.
We need to set up the [cloudflare hack](https://www.jonathan-petitcolas.com/2017/01/13/using-https-with-custom-domain-name-on-github-pages.html) in order to use https AFAIK.

[2017-10-03 10:16] markwilliamfirth commented on #405
@nelsonic yes it's not a secure connection - closing in favour of https://github.com/dwyl/dwyl-site/issues/378

[2017-10-03 10:16] #405 closed

[2017-10-03 10:17] finnhodgkin opened #407 "Differences between InVision design and live site"
## Home page

The navbar is quite different on the live site:
- There's a shadow https://github.com/dwyl/dwyl-site/issues/268#issuecomment-328611498
- It's a different colour from the background https://github.com/dwyl/dwyl-site/issues/268
- It doesn't change colour depending on the background colour of the page
- There's more spacing between links (though it's also larger because there are now mo

[2017-10-03 10:21] finnhodgkin commented on #407
# Portfolio page:
- As above, white nav on white background.
- Smaller portfolio cards
- Thinner max width

![selection_068](https://user-images.githubusercontent.com/22300773/31120557-c8ee58e6-a82c-11e7-8f32-263f1db5777a.png)
![selection_069](https://user-images.githubusercontent.com/22300773/31120559-caaccb5e-a82c-11e7-8819-9682ff80c61f.png)

[2017-10-03 10:27] finnhodgkin commented on #407
# Values:
- Larger shadow as a separator
- Much larger top padding
- White nav
- Off-white background

![selection_071](https://user-images.githubusercontent.com/22300773/31120763-95ab74ae-a82d-11e7-8364-8d5b9e1c0ca0.png)
![selection_070](https://user-images.githubusercontent.com/22300773/31120765-972748c6-a82d-11e7-9054-548fb666885a.png)

[2017-10-03 10:30] ZooeyMiller commented on #390
Links to the live pages for anyone wanting to take a look:
http://dwyl.com/case-studies/inclusive-classrooms/skills-wheel

http://dwyl.com/case-studies/ellen-macarthur-foundation/CE100

http://dwyl.com/case-studies/inclusive-classrooms/skills-wheel

The only one I've added logos to is Inclusive Classrooms.

[2017-10-03 10:30] finnhodgkin commented on #407
# Blog
- Much more padding
- Larger title font size
- Larger copy font size

![selection_072](https://user-images.githubusercontent.com/22300773/31120911-1534e502-a82e-11e7-908a-5ebe0ad5357c.png)
![selection_073](https://user-images.githubusercontent.com/22300773/31120914-171641ea-a82e-11e7-93f2-a89a7df93c92.png)

[2017-10-03 10:33] markwilliamfirth commented on #407
@finnhodgkin some of these difference might have been for speed of getting the site up, the ones that have reasons I've edited your comments to add the respective piece of information

[2017-10-03 10:36] ZooeyMiller opened #408 "Remove travis.yml"
Since this is no longer a node project, are we okay to delete the travis.yml? We also no longer have tests so the CI itself is moot, so perhaps we can remove that as well?

[2017-10-03 10:38] markwilliamfirth commented on #222
<img width="1246" alt="screen shot 2017-10-03 at 11 37 57" src="https://user-images.githubusercontent.com/5732209/31121258-5f3eeb88-a82f-11e7-8c34-7d5ff12cf468.png">

tag manager error

[2017-10-03 10:39] ZooeyMiller opened #409 "Remove pre-commit"
Since this is no longer a node project, and has no package.json or node_modules, our precommit now errors when trying to commit: `.git/hooks/pre-commit: line 2: ./node_modules/pre-commit/hook: No such file or directory`.

This means every commit has to be run with `--no-verify`. I think we should just remove this pre-commit and add it in again if it becomes necessary.

[2017-10-03 10:40] markwilliamfirth commented on #401
looks great

[2017-10-03 10:40] #401 closed

[2017-10-03 10:58] finnhodgkin commented on #407
@markwilliamfirth Yeah for sure, I was more raising this issue as a place to discuss/document the changes rather than as something I would work on now.  :+1:

Some changes like the colour of the nav on white pages and the training section of the homepage I think _should_ be changed to be more in line with the original designs.

[2017-10-03 12:00] ZooeyMiller commented on #222
We've PR'ed the new GTM links, and set up the nav clicks and scroll tracking on GTM, once #410 is merged these will be live on the site and we can look into how they're working.

[2017-10-03 13:39] markwilliamfirth commented on #396
<img width="547" alt="screen shot 2017-10-03 at 14 39 02" src="https://user-images.githubusercontent.com/5732209/31128083-a10f1628-a848-11e7-8b6a-2e1330f9a7e5.png">

This works now!

@Cleop can we change the script to come from hello@dwyl.com ?

[2017-10-03 13:56] markwilliamfirth commented on #243
Just tested actual site with ChromeVox and it says "Training and plus workshops"

[2017-10-03 13:58] markwilliamfirth commented on #243
Have replaced with & as solution

[2017-10-03 13:58] #243 closed

[2017-10-03 14:03] finnhodgkin commented on #407
I'm going to make a test branch with a few of the easier design fixes like the nav bar and background colour.

[2017-10-03 15:40] finnhodgkin commented on #378
I think this is actually pretty crucial. The first result for 'dwyl' on google is https://www.dwyl.com which returns a privacy error.

[2017-10-03 15:56] finnhodgkin commented on #378
@markwilliamfirth I can't fix this without access to the nameservers:

![selection_074](https://user-images.githubusercontent.com/22300773/31134948-860925f4-a85b-11e7-8e63-4f8c82db4163.png)

The other option is to move the site to AWS or some other static web host that does provide ssl with custom domains. Seems like more effort than it's worth considering the site is going to be moved to PETE at

[2017-10-03 16:13] markwilliamfirth commented on #378
It's because google still thinks the site is https, but it's not it's http, so it throws a warning

[2017-10-03 16:14] markwilliamfirth commented on #378
Perhaps the temp solution for this is to re-index / re-crawl the site via Google? As opposed to changing dns again and going with the cloudflare (or another alternative hack)

Or we just make #389 and move back to heroku

[2017-10-03 17:23] finnhodgkin commented on #389
Started working on this because #378 is messing with dwyl's google-ability because https isn't working.

I've got most of the site running on a phoenix server, just need to sort out the 404 and the nested pages and then deploy to heroku. Happy to continue with this in the morning if you think it's higher priority than the elixir work.

[2017-10-03 18:11] iteles commented on #384
https://github.com/dwyl/hq/issues/247#issuecomment-281499493

[2017-10-03 18:20] markwilliamfirth commented on #384
@iteles I'm not sure what you mean by your comment above

[2017-10-03 18:20] iteles commented on #389
@finnhodgkin 👍 👍  Let's get any other priorities of @markwilliamfirth's in first so there's a clear point in the history which adds the phoenix server.

[2017-10-03 18:52] markwilliamfirth commented on #220
#270 should be completed before this

[2017-10-03 18:54] markwilliamfirth commented on #389
@iteles this is a priority to solve #378 (p2) also allows us to do #270 (p2), which is also blocking other p2s, so phoenix server should probably move to a p2

[2017-10-03 18:56] markwilliamfirth commented on #389
Would be great to get all the p2 issues done, others don't matter as much

[2017-10-03 23:28] iteles commented on #389
I would strongly suggest that we don't want to do a move to templating #270 yet. We already have everything done without templating let's just get this up to resolve the original issue in the top description of this issue :+1:

[2017-10-03 23:31] iteles commented on #220
I don't understand the dependency on templating here, could someone please clarify? :blush:

[2017-10-04 09:28] finnhodgkin opened #412 "Disable domain on Heroku"
![selection_075](https://user-images.githubusercontent.com/22300773/31168676-11a91ec4-a8ee-11e7-9a01-41656235c590.png)

Until we stop hosting the site on GH-pages we should probably switch this off. Getting an email an hour for the last day.

[2017-10-04 10:04] iteles commented on #396
@markwilliamfirth Can we please close the original issue and open as a new issue for clarity? https://github.com/dwyl/dwyl-site/issues/396#issuecomment-333844810

[2017-10-04 10:21] markwilliamfirth commented on #220
@iteles it's not a dependency, but a build preference - otherwise the code will need to be updated on every single page the contact form is on and tested on every page and any bugs / issues etc will need to be changed on every page. Makes sense to do #270 first to save everyone time

[2017-10-04 10:23] markwilliamfirth commented on #389
Templating would speed us up (whenever we need to update header and footer e.g. https://github.com/dwyl/dwyl-site/issues/197) and is going to be necessary eventually anyway and would remove chance of inconsistencies across pages, plus will be good for the blog

What's the reasoning behind not doing it?

[2017-10-04 11:03] ZooeyMiller opened #413 "Temporary solution for secure site"
The site not being on HTTPS is a high priority issue, we need to fix it asap. After discussing with @iteles and @finnhodgkin we have come to the conclusion that the best thing to do right now is to use the cloudflare hack discussed in #378. According to the comments in that issue, all that needs doing is swapping the nameservers over.

We acknowledge that this is a temporary solution, with #389 ev

[2017-10-04 11:07] finnhodgkin commented on #389
@markwilliamfirth I think the main reasoning was that @iteles doesn't want to get locked in to a Phoenix implementation that isn't used in the future - Nelson has some plans for the blog and back-end that may not fit with a static site Phoenix server.

On the flip side I've lost at least a couple of hours in the last week purely on find/replace and manual copy-pasting of footers, headers, changes

[2017-10-04 11:07] ZooeyMiller commented on #220
for the dynamic form, it will be done with front end javascript whether on templating or not, so we don't have to wait for #270 to get to work on this.

[2017-10-04 11:11] finnhodgkin commented on #412
I've temporarily removed the domains from Heroku. Screenshot for easy reactivation:

![selection_076](https://user-images.githubusercontent.com/22300773/31172848-1e8037c2-a8fd-11e7-9011-f15288337f28.png)

[2017-10-04 11:22] ZooeyMiller commented on #14
I'm going to look into fixing the accessibility issues you've mentioned in https://github.com/dwyl/dwyl-site/issues/14#issuecomment-333529230 Mark.

[2017-10-04 11:38] #412 closed

[2017-10-04 11:38] markwilliamfirth commented on #389
Thanks @finnhodgkin

@nelsonic @iteles would be good to post the technical roadmap here so everyone is clear on where the project is going (I was under the impression a phoenix server would eventually be required anyway and wasn't aware a static phoenix server would lock us down and be a blocker for what's to come)

[2017-10-04 11:46] markwilliamfirth commented on #220
@ZooeyMiller Simon and Cleo suggested a CSS revealing solution here: https://github.com/dwyl/dwyl-site/issues/220#issuecomment-309411376 - is JS definitely required?

[2017-10-04 12:05] markwilliamfirth commented on #413
@ZooeyMiller

I can change the nameservers on iwantmyname, but would like to understand the reasoning behind this being high priority - as far as I am aware there is no sensitive data being submitted on the site so a secure connection is not a high priority? With regards to the google search issue - would this not be an easier temporary solution? https://support.google.com/webmasters/answer/606581

[2017-10-04 13:10] markwilliamfirth commented on #390
@ZooeyMiller please take a look at https://github.com/dwyl/dwyl-site/pull/414 :)

[2017-10-04 13:28] ZooeyMiller commented on #413
@markwilliamfirth At the moment only emails are the only personal data being submitted, the reason for it being high priority to me, is that it demonstrates a level of care. I would not trust an agency who's own site was not even on HTTPS. HTTPS also helps with SEO (google will rank a site on HTTPS higher than one with an equivelant match otherwise which is on HTTP).

I don't know if @iteles or @f

[2017-10-04 13:28] ZooeyMiller commented on #14
One issue from powermapper is:

Is this a compromise we want to make? It is listed as an "A" level error. RElated to #394

[2017-10-04 13:35] markwilliamfirth commented on #413
@ZooeyMiller ok thanks for explaining

Nameservers have been updated

[2017-10-04 13:37] markwilliamfirth commented on #14
@ZooeyMiller let's have underline as a link convention for all text links in page text (not nav and footer links etc)

[2017-10-04 13:39] iteles commented on #409
@ZooeyMiller Though it might be worth considering adding a pa11y pre-commit hook? What are your thoughts?

[2017-10-04 14:40] finnhodgkin commented on #413
Just waiting on Cloudflare and then https should work:

![selection_081](https://user-images.githubusercontent.com/22300773/31181865-447727e8-a91a-11e7-9927-5c2cba875899.png)

[2017-10-04 14:45] ZooeyMiller commented on #220
@markwilliamfirth Sorry, no it's not, it's definitely do-able with CSS. I mentioned the CSS way in the call but neglected it when typing, apologies. Either way, it's independent of templating.

[2017-10-04 14:48] markwilliamfirth commented on #394
**Link conventions:** [WiP]
- All text links in page text (not nav and footer links etc) must be underlined

[2017-10-04 14:59] ZooeyMiller commented on #409
@iteles I would 100% agree. I do think that this only really makes sense once we have a server set up, and not for the current static GH pages site.

[2017-10-04 15:05] ZooeyMiller commented on #409
Couldn't see the pre-commit in the hook section on github, so I removed my local files and re-cloned, and the pre-commit hook was gone. @finnhodgkin isn't getting this either so this can be closed.

[2017-10-04 15:05] #409 closed

[2017-10-04 15:10] finnhodgkin commented on #413
The SSL is now accepted but it's not working :confused:

Looking into this now.

[2017-10-04 15:14] markwilliamfirth commented on #413
unrelated to above comment, but important to note:

<img width="410" alt="screen shot 2017-10-04 at 16 13 36" src="https://user-images.githubusercontent.com/5732209/31183645-148a1892-a91f-11e7-8803-e1efd69ce0c4.png">
<img width="691" alt="screen shot 2017-10-04 at 16 13 55" src="https://user-images.githubusercontent.com/5732209/31183644-147f3094-a91f-11e7-8cb7-7fa2a363e8e5.png">

[2017-10-04 15:22] markwilliamfirth commented on #27
This issue is no longer necessary as we have implemented this functionality with https://github.com/dwyl/web-form-to-google-sheet

[2017-10-04 15:22] #27 closed

[2017-10-04 15:25] markwilliamfirth opened #416 "Change form from address to hello@dwyl.com"
From: https://github.com/dwyl/dwyl-site/issues/396#issuecomment-333844810

<img width="547" alt="screen shot 2017-10-03 at 14 39 02" src="https://user-images.githubusercontent.com/5732209/31128083-a10f1628-a848-11e7-8b6a-2e1330f9a7e5.png">

@Cleop can we change the script to come from hello@dwyl.com ?

[2017-10-04 15:25] markwilliamfirth commented on #396
Closed in favour of https://github.com/dwyl/dwyl-site/issues/416

[2017-10-04 15:25] #396 closed

[2017-10-04 15:26] markwilliamfirth opened #417 "Transfer Spreadsheet ownership to hello@dwyl.com"
From: https://github.com/dwyl/dwyl-site/issues/309#issuecomment-333513808

https://docs.google.com/spreadsheets/d/1PfPRD54M6K2hiN-1IkTC7IkJVRMAuEGoX1qz2cK5HrQ/edit?ts=59d204cc#gid=0

@Cleop Please could you transfer ownership rights to hello@dwyl.com?

[2017-10-04 15:26] markwilliamfirth commented on #309
Closed in favour of https://github.com/dwyl/dwyl-site/issues/417

[2017-10-04 15:26] #309 closed

[2017-10-04 15:29] ZooeyMiller commented on #14
![report - google chrome_044](https://user-images.githubusercontent.com/21139983/31184318-fc1b69a8-a920-11e7-9f63-2998243b49e4.png)

No red accessibility errors (red is for "A" standard, orange for "AA"). The other issues are worth looking into, but aren't accessibility so not strictly relevant for this issue.

[2017-10-04 15:37] finnhodgkin commented on #413
Both those sites work for me :confused:

[2017-10-04 15:38] markwilliamfirth commented on #14
@iteles are you happy with this level of accessibility? We can keep going but I think this is good enough for now

[2017-10-04 15:40] markwilliamfirth commented on #413
<img width="722" alt="screen shot 2017-10-04 at 16 40 07" src="https://user-images.githubusercontent.com/5732209/31184957-b74ae57c-a922-11e7-96b4-5fc70f0dbdec.png">
<img width="717" alt="screen shot 2017-10-04 at 16 40 00" src="https://user-images.githubusercontent.com/5732209/31184958-b764945e-a922-11e7-969e-17928b8d3d05.png">
<img width="695" alt="screen shot 2017-10-04 at 16 39 52" src="https:/

[2017-10-04 15:49] ZooeyMiller commented on #413
They work fine for me too. Even tried on Opera (which I've only used once) and it's fine.

[2017-10-04 15:49] finnhodgkin commented on #413
How strange :woman_shrugging:

![selection_082](https://user-images.githubusercontent.com/22300773/31185500-06491f9e-a924-11e7-92f7-b4a88f343a6a.png)

[2017-10-04 16:13] markwilliamfirth commented on #413
How strange! Maybe just me then. Will wait and check again later

[2017-10-04 16:17] markwilliamfirth commented on #378
<img width="200" alt="screen shot 2017-10-04 at 17 16 57" src="https://user-images.githubusercontent.com/5732209/31186877-db2daed4-a927-11e7-950b-24eb6a9c1ea4.png">

@finnhodgkin this one looks like it's solved now?

[2017-10-04 16:20] finnhodgkin commented on #378
Hmm I'm still getting not secure.

I think it must be cloudflare taking time to move stuff over, or something to do with browser caching on my machine.

![selection_083](https://user-images.githubusercontent.com/22300773/31186987-495bff82-a928-11e7-8bfc-a2f4c1633bb6.png)

[2017-10-04 16:28] finnhodgkin commented on #378
Got a padlock on my phone now. Guess it must be weird caching issues (weird because it still doesn't work in incognito).

[2017-10-04 16:34] finnhodgkin commented on #395
By 'link for invision and assets', do you mean a publicly accessibly link to the invision designs and assets, because I'm not sure that's possible. I might be wrong though, I've hardly used Invision :confused:.

I could save out the designs and host them somewhere if we want them publicly available.

[2017-10-04 16:36] finnhodgkin commented on #413
The https for the main site isn't working for me or @ZooeyMiller but is for you #378. Extra strange.

Maybe the two are linked...

[2017-10-04 16:37] finnhodgkin commented on #413
Agh yeah definitely linked. invoice.dwyl.com isn't working on my mobile but is on my desktop

[2017-10-04 16:38] markwilliamfirth commented on #395
@finnhodgkin I just mean a link to the designs - I presume if someone doesn't have access it will come up with a splash that says 'you don't have access, please request' so it will then email those who do, which is good enough (maybe?)

[2017-10-04 16:42] finnhodgkin commented on #395
Found a public share link: https://projects.invisionapp.com/share/VSBOA5D8B

[2017-10-04 17:19] markwilliamfirth commented on #390
@iteles as per https://github.com/dwyl/dwyl-site/pull/414#issuecomment-334201162 would you be able to advise if these are all of the technologies for these projects?

https://dwyl.com/case-studies/inclusive-classrooms/skills-wheel
https://dwyl.com/case-studies/ellen-macarthur-foundation/CE100
https://dwyl.com/case-studies/science-museum-group/online-collections

Linked to https://github.com/dwyl/h

[2017-10-04 22:31] iteles commented on #407
@finnhodgkin I believe the change in nav was for a specific purpose: https://github.com/dwyl/dwyl-site/issues/268

I would also say that I much prefer the clean white than the bluey-greyey background colour you mentioned [here](https://github.com/dwyl/dwyl-site/issues/407#issuecomment-333800649)
 for example (though I don't think that was deliberate).

The blog ones are the ones that most annoy me

[2017-10-05 09:40] ZooeyMiller commented on #395
I'm hesitant to add the information of how to run the site locally with live-server, because strictly speaking it doesn't work. Unless we were happy to change all links on the site to include `.html` on the end, it just won't work on live-server.

[2017-10-05 09:42] ZooeyMiller commented on #395
I'm happy to add information on how it's hosted, but unclear on "why it's hosted" in this way?

[2017-10-05 10:33] iteles commented on #378
That's worth googling for 15mins @finnhodgkin!

[2017-10-05 10:41] finnhodgkin commented on #378
I think it was just Cloudflare/the DNS taking time to fully move everything over. https is now working on my laptop and phone, and invoice.dwyl/hits are not working when accessed through https. Without access to the DNS it's hard to know what the solution is for this.

There are some guides on Cloudflare for adding subdomains, but I think it has to be done by hand and I don't know the DNS settings

[2017-10-05 10:47] finnhodgkin commented on #378
@markwilliamfirth How are the subdomains handled by the DNS? Do they just have extra records?

[2017-10-05 10:49] iteles commented on #378
I'm on a train so don't have access just now but from what I remember they are just additional records pointing to the relevant heroku apps

[2017-10-05 10:54] finnhodgkin commented on #378
Oh actually I can possibly just add exception rules to Cloudflare without needing access to the DNS. Trying now. Hard to tell if things work because it takes a while to update.

[2017-10-05 11:58] finnhodgkin commented on #378
The Cloudflare exception didn't seem to fix anything. I'm now trying to add a page rule to forward https://invoice.dwyl.com requests to http://invoice.dwyl.com (the http version still works and forwards to the https google form anyway so ssl isn't required).

[2017-10-06 08:01] Cleop commented on #417
done, please test and close @markwilliamfirth

[2017-10-06 09:24] finnhodgkin commented on #308
Unfortunately this solution doesn't work without extra janky css hacks :cry:

`background-attachment: fixed;` is relative to the window, rather than the element it's applied to, so if the content is not centered in the screen it doesn't work. The only solution I can think of is is to have multiple layered images that always sit in the center of the screen, and then work out the exact percentage po

[2017-10-06 11:27] ZooeyMiller commented on #413
I',m looking into hosting with surge to see if it's any easier.

[2017-10-06 13:20] ZooeyMiller opened #420 "Notify user of set cookie (compliance with EU law)"
We are using Google Tag Manager, which sets a cookie. Under EU law, we must notify a user that we are setting a cookie. We do not currently do this.

We probably need to add a small bit of Javascript, such that we have some kind of notification to the user that we are setting a cookie, and when they click "Ok" we set a cookie (or use local storage) that makes it so that the notification doesn't sh

[2017-10-06 13:51] finnhodgkin commented on #413
All DNS stuff is now handled by Cloudflare. To add subdomains just add a CNAME/A record to Cloudflare as you would with any regular nameserver. For example for invoice.dwyl.com I had to enter:

![selection_087](https://user-images.githubusercontent.com/22300773/31280419-36060bc6-aaa4-11e7-832c-ed78e9c6c15d.png)

For pages like invoice.dwyl there's one further step because the page is actually

htt

[2017-10-06 15:22] iteles commented on #413
@finnhodgkin Can we also please document how we got over to cloudflare in the first place so that if we move back to heroku when we add #389 we can just reverse your steps?

[2017-10-06 15:34] iteles commented on #413
Seems like the time estimate on this also needs updating.

[2017-10-07 10:59] iteles opened #422 "29th October | Check analytics stats for 1st month of new site"
As a site owner,
I would like to know how the new website has been performing in its first month
So that we can determine what we want to A/B test and improve.

## Acceptance Criteria
A comment noting:
+ [ ] Which of the tracked data have improved and which have gone down over the month?
  + [ ] Brief analysis of why any deteriorations may have happened
+ [ ] What insight are we getting from the n

[2017-10-09 09:42] markwilliamfirth opened #423 "dwyl logo not on welcome post page"
<img width="1029" alt="screen shot 2017-10-09 at 10 41 47" src="https://user-images.githubusercontent.com/5732209/31332488-81ae8d50-acde-11e7-806b-b7fb8dfbbdb3.png">

<img width="426" alt="screen shot 2017-10-09 at 10 42 54" src="https://user-images.githubusercontent.com/5732209/31332523-a1510a5c-acde-11e7-8c36-8353a7817c88.png">

this one needs fixing

[2017-10-09 09:59] markwilliamfirth commented on #423
Fixed with https://github.com/dwyl/dwyl-site/pull/424

[2017-10-09 09:59] #423 closed

[2017-10-09 10:00] markwilliamfirth commented on #378
@finnhodgkin do you still need access to iwantmyname?

[2017-10-09 10:00] ZooeyMiller opened #425 "Check Google Tag Manager is working"
We need to check that the GTM events are working and that analytics is tracking properly, especially considering all of the HTTPS/cloudflare stuff in #413

[2017-10-09 10:01] finnhodgkin commented on #378
No, not anymore. I need to give everyone access to Cloudflare though because all the dwyl.com DNS stuff is on there.

[2017-10-09 10:06] markwilliamfirth commented on #395
@ZooeyMiller in response to https://github.com/dwyl/dwyl-site/issues/395#issuecomment-334413946

Do we have a better solution for viewing the site other than live-server + adding .html in the view or permanently changing all the links to .html in the code?

in response to https://github.com/dwyl/dwyl-site/issues/395#issuecomment-334414429
We just need a line explaining why - as in it's currently h

[2017-10-09 10:14] finnhodgkin opened #426 "Add Cloudflare setup to the readme"
To add to the readme:
- [x] Moving a domain to Cloudflare
- [x] Enabling https for custom domains with GitHub pages
- [x] Adding subdomains
- [x] Adding github pages subdomains
- [x] Creating a pagerule for always https
- [x] Creating a pagerule for subdomain redirects

[2017-10-09 10:17] markwilliamfirth opened #427 "Improve design of Cookie Notification"
Not sure exactly what needs to change, but this could probably be improved somewhat

Perhaps the initial step is to make it stand out more with a different background colour as it's not completely clear that it is separate from the page design and it needs to divert user attention

<img width="1247" alt="screen shot 2017-10-09 at 11 16 56" src="https://user-images.githubusercontent.com/5732209/313

[2017-10-09 10:39] ZooeyMiller commented on #425
Working well!

- Go to dwyl.com: All Site Data on google analytics
- In sidebar click Behaviour -> Events -> Overview
- ![events overview - analytics - google chrome_045](https://user-images.githubusercontent.com/21139983/31334332-cc4d6604-ace5-11e7-9b68-120df0edab77.png)
- To see more info about one of the events, click on it.
- ![top events - analytics - google chrome_046](https://user-images.gi

[2017-10-09 10:40] #425 closed

[2017-10-09 11:08] ZooeyMiller commented on #427
On my machine the notification is over the dwyl-mint background, so we probably can't use one of our preset colours. I've put some box shadow on it to define it a bit more. Let me know what you think. (screengrab in PR).

[2017-10-09 11:13] markwilliamfirth commented on #420
This was merged in

[2017-10-09 11:13] #420 closed

[2017-10-09 11:15] ZooeyMiller commented on #395
@iteles asked that we ask you to do the remaining updates to the readme, just so we don't duplicate work by us asking you questions, you commenting answers, then us putting them in the README.

In terms of the running locally, there are no better solutions that I immediately know of.

[2017-10-09 11:16] markwilliamfirth commented on #426
Please ensure this covers:

https://github.com/dwyl/dwyl-site/issues/413#issuecomment-334760893
https://github.com/dwyl/dwyl-site/issues/413#issuecomment-334786661

as I'm closing that issue in favour of this

[2017-10-09 11:16] markwilliamfirth commented on #413
This is working now, so closing in favour of #426

[2017-10-09 11:16] #413 closed

[2017-10-09 11:19] markwilliamfirth opened #429 "Share Access to Cloudflare"
As per https://github.com/dwyl/dwyl-site/issues/378#issuecomment-335114032

[2017-10-09 11:20] markwilliamfirth commented on #378
Site is now secure

Closing in favour of https://github.com/dwyl/dwyl-site/issues/429

[2017-10-09 11:20] #378 closed

[2017-10-09 11:33] #417 closed

[2017-10-09 11:35] finnhodgkin commented on #429
Non-enterprise Cloudflare accounts can only have one email address. Which dwyl email would you like me to transfer it to @markwilliamfirth ?

[2017-10-09 11:37] finnhodgkin commented on #429
Probably best to talk about account things over gitter :)

[2017-10-09 11:54] markwilliamfirth commented on #416
Now working 👍 and also collecting in a spreadsheet too

https://docs.google.com/a/dwyl.com/spreadsheets/d/1Qr6kJ1C8FzBFfPRtq7sXN3oh0yT51X4-eiLpNjISyhs/edit?usp=drive_web

[2017-10-09 11:54] #416 closed

[2017-10-09 13:27] finnhodgkin commented on #429
Fixed :+1:

[2017-10-09 13:27] #429 closed

[2017-10-09 18:30] iteles opened #431 "Why is 'blog' always highlighted?"
Why is 'blog' in the nav always turquoise, no matter what page I'm on?

I keep thinking it's highlighting the page I'm looking at.

I would also suggest that until we actually have some _content_, we probably don't want to highlight the Blog link.

<img width="1157" alt="screen shot 2017-10-09 at 19 26 29" src="https://user-images.githubusercontent.com/4185328/31352877-4846ac24-ad28-11e7-9c72-2ecf

[2017-10-10 10:28] finnhodgkin opened #432 "Keep card styling consistent"
The portfolio section has two different types of cards- solid bordered github cards and drop shadowed portfolio cards. IMO one consistent card type looks a lot nicer:

![selection_096](https://user-images.githubusercontent.com/22300773/31381958-f7daec9c-adad-11e7-9dda-5620190b4f59.png)

[2017-10-13 14:59] harrygfox commented on #431
@iteles Just to differentiate it from the other types of links on the navbar.
If it's confusing it should go.

[2017-10-13 15:00] harrygfox commented on #313
![image](https://user-images.githubusercontent.com/7805691/31552506-a273422a-b02f-11e7-8100-30021ca89c76.png)
pixel-y image has a different colour to the background.

[2017-10-13 16:46] iteles commented on #431
Thanks for clarifying @harrygfox! Only confusing because we don't really have one yet! Let's change it now and change it back when we _want_ to differentiate it :+1:

[2017-10-19 10:44] iteles opened #433 "Get feedback.dwyl.com back online"
Currently unreachable, needs to be set up on Cloudflare #426

![screen shot 2017-10-19 at 11 38 15](https://user-images.githubusercontent.com/4185328/31767252-3e60f588-b4c2-11e7-9c08-fae5437996da.png)

[2017-10-26 15:05] markwilliamfirth commented on #357
Closed in favour of https://github.com/dwyl/blog/issues/26

[2017-10-26 15:05] #357 closed

[2017-11-03 09:19] markwilliamfirth commented on #304
@iteles is there any update on this? We are currently working on EMF and speaking with them frequently so perhaps it might be easy to get this one approved quite fast?

[2017-11-03 09:51] iteles commented on #304
I will post an update as soon as there is one 👌🏻

[2017-11-03 09:57] iteles commented on #304
On this, a note that there are two questionnaire replies that are not in my chaser list.
@Cleop Any updates from Elle on the questionnaire we sent at the 'official' end of LDMW? (The public launch of this is yet to happen but it might be good to nudge)
@markwilliamfirth I understand this is not the right time to chase Amanda for the questionnaire as you're working out the next steps but Im assumin

[2017-11-03 10:08] markwilliamfirth commented on #304
@iteles i'm just conscious that this p1 was opened on 23 Aug and it's now 3 Nov with no movement - is there anything I can do to help? Is there anything in particular that is holding up the clients? Are they facing the same issues with approval? This feedback could help with regards to getting approval for tilr and OA too

[2017-11-03 10:09] markwilliamfirth commented on #304
@iteles on BE questionnaire - the project is still in progress so we should get Amanda to fill it out after completion of this next sprint / next sprints

[2017-11-03 11:54] markwilliamfirth commented on #432
Has been merged with https://github.com/dwyl/dwyl-site/pull/419

[2017-11-03 11:54] #432 closed

[2017-11-03 11:54] markwilliamfirth commented on #427
Has been merged with https://github.com/dwyl/dwyl-site/pull/419

[2017-11-03 11:54] #427 closed

[2017-11-03 11:54] markwilliamfirth commented on #426
Has been merged with https://github.com/dwyl/dwyl-site/pull/419

[2017-11-03 11:54] #426 closed

[2017-11-03 11:55] markwilliamfirth commented on #407
Has been merged with https://github.com/dwyl/dwyl-site/pull/419

[2017-11-03 11:55] #407 closed

[2017-11-03 11:57] markwilliamfirth commented on #422
@iteles I don't think I have access to this yet (https://github.com/dwyl/dwyl-site/issues/218)

Do you?

[2017-11-03 12:00] markwilliamfirth commented on #356
Blocked by https://github.com/dwyl/hq/issues/377

[2017-11-03 15:58] iteles commented on #422
Just logged into the analytics and checked, you definitely do:
<img width="746" alt="screen shot 2017-11-03 at 15 57 33" src="https://user-images.githubusercontent.com/4185328/32383390-c91afb8a-c0af-11e7-84b5-a074f33345ac.png">

I gave you, Cleo and Harry permissions at the same time.

[2017-11-03 16:34] markwilliamfirth commented on #422
<img width="641" alt="screen shot 2017-11-03 at 16 31 52" src="https://user-images.githubusercontent.com/5732209/32385002-9fcdadae-c0b4-11e7-94b5-b5df6097af31.png">
<img width="972" alt="screen shot 2017-11-03 at 16 33 36" src="https://user-images.githubusercontent.com/5732209/32385059-d953e976-c0b4-11e7-8fce-6c4906455bdd.png">
<img width="306" alt="screen shot 2017-11-03 at 16 33 04" src="https:/

[2017-11-03 16:57] markwilliamfirth commented on #422
Number of people from US is interesting

[2017-11-03 16:58] markwilliamfirth commented on #422
Start of Oct is higher probably because we were still working on the site

[2017-11-03 16:59] markwilliamfirth commented on #422
I've only received feedback from one person - they told me it wasn't clear what we do and it took them a while to find out - they also thought it was weird we didn't have an about page

[2017-11-03 17:01] markwilliamfirth commented on #422
I don't think the last month can tell us much else - https://github.com/dwyl/dwyl-site/issues/222 should cover us improving the analytics. Regardless of when 222 is implemented we should review these next month as well

[2017-11-03 17:01] #422 closed

[2017-11-04 12:20] iteles commented on #422
Do we want to capture this in a less ephemeral way (i.e. a quick md file)?

Are there any actions that come out of this other than opening an issue to check this next month?
Researching how our competitors are clarifying what they do and thinking about how to integrate this into our site for example?

[2017-11-04 13:09] markwilliamfirth commented on #422
@iteles

1st point - the data is captured in GA so I don't see a need to duplicate screenshots into MD files - we should be finding a way to make the data public instead https://github.com/dwyl/dwyl-site/issues/218

2nd point - that issue is here https://github.com/dwyl/dwyl-site/issues/175

With regards to competitors specifically, this cannot be assessed properly until https://github.com/dwyl/hq

[2017-12-04 18:02] Rob-Rychs commented on #431
half-solved this with my PR which removes the blog link highlighting...

Proposal to fix: create function to get the pathname with JS and match it to the correct menu link, then add class to highlight it

would this go in script.js?

or it's own menu-highlighter.js?

[2017-12-07 18:11] rub1e opened #437 "Populate case studies template and push to site"
Once @iteles has amended & approved copy for case studies in Google Slides, @rub1e will flesh out copy (so it's more suited to website than deck) and then sit down with @Cleop to get them up on the site.

This will happen on Weds 13th Dec.

This is the latest commit - https://github.com/dwyl/dwyl-site/commit/f962169c2c0cc3ec9942c1e7db0ded4af9b4ac67

[2017-12-07 18:14] rub1e commented on #437
@iteles Will we need to wait for clients to take a look over them as per #304?

[2017-12-07 23:54] iteles commented on #437
We have approval from EMF, SMG & OA, confirming IC.

[2017-12-13 17:27] rub1e commented on #437
@Cleop I've updated the copy and recreated the last commit as discussed, so all we need to do is merge and update all the classes to match the current site. We can do this on Thurs 14th Dec or in pre-xmas week, depending on your commitments.

[2018-01-31 11:52] rub1e commented on #390
Looks like the case studies on the site have all relevant technologies included.

Ready to close @iteles?

[2018-02-06 17:24] nelsonic commented on #77
https://github.com/jpmorganchase/perspective + https://github.com/jpmorganchase !!
via https://news.ycombinator.com/item?id=16317124
![image](https://user-images.githubusercontent.com/194400/35873747-9360b874-0b62-11e8-8893-778fda87a965.png)

[2018-02-08 10:25] rub1e opened #441 "Add note to portfolio page saying WIP"
* [ ] Add note to the portfolio page to warn potential clients that the three case studies aren't our entire body of work

[2018-02-08 10:27] rub1e opened #442 "Add links to final products to the portfolio pages"
* [x] Add links for EMF & Science Museum to portfolio pages

@iteles Please paste links here 😺

[2018-02-08 10:31] iteles commented on #442
🎉

These are the ones we have:
https://ce100.ellenmacarthurfoundation.org/
http://collection.sciencemuseum.org.uk/

[2018-02-08 10:32] iteles commented on #441
Not sure what the right wording for this is but this would be great!
Something to let people know that more case studies are coming soon...

[2018-02-08 11:44] rub1e commented on #441
Answered by #443

[2018-02-08 11:44] #441 closed

[2018-02-08 12:00] rub1e commented on #442
Answered by #444

[2018-02-08 12:00] #442 closed

[2018-02-12 17:43] iteles commented on #262
https://validator.ampproject.org/#url=https%3A%2F%2Fwww.dwyl.com

Definitely not AMP compliant _yet_.

[2018-02-12 17:44] iteles commented on #185
Linked to #235

[2018-02-12 17:45] iteles commented on #127
Just revisiting this and really,  so great @katbow !

[2018-02-12 17:48] iteles commented on #315
<img width="496" alt="screen shot 2018-02-12 at 17 47 54" src="https://user-images.githubusercontent.com/4185328/36111103-e71f37a6-101c-11e8-8cc6-cc5a52ed2ca4.png">

✅

[2018-02-12 17:48] #315 closed

[2018-02-12 18:04] iteles commented on #336
Now a little time has passed, we could probably do with another update to the page to include something more like:
<img width="232" alt="screen shot 2018-02-12 at 18 02 13" src="https://user-images.githubusercontent.com/4185328/36111767-23c737a6-101f-11e8-9673-9ddc7d00f396.png">

[2018-02-12 18:08] iteles commented on #331
Despite the `awaiting-review` label, this was never fixed

[2018-02-12 18:20] #295 closed

[2018-02-12 18:24] iteles commented on #288
Done! Thanks @SimonLab and all!

[2018-02-12 18:24] #288 closed

[2018-02-12 18:27] iteles commented on #306
Harry isn't currently doing further design work on the site and I'm not sure where this time estimate comes from.

We can re-open this when we need it.

[2018-02-12 18:27] #306 closed

[2018-02-12 18:28] iteles commented on #311
This was done.

[2018-02-12 18:28] #311 closed

[2018-02-12 18:32] iteles commented on #394
Linked to #324

[2018-02-12 18:40] #14 closed

[2018-02-12 18:53] #294 closed

[2018-02-12 18:54] iteles commented on #313
@harrygfox We'd love to get a `png` of the heart we could use for this! ❤️

[2018-02-12 18:58] iteles commented on #437
This is done for the ones we have! 👍

[2018-02-12 18:59] #390 closed

[2018-02-12 20:39] harrygfox commented on #313
@iteles indeed! it's [here in both `.png` and `.svg`](https://projects.invisionapp.com/d/main#/projects/prototypes/11013483/assets)

[2018-02-12 20:42] iteles commented on #313
You're an actual star 🌟 I was still writing the email to you to request these!

[2018-02-13 13:47] Jbarget commented on #215
@iteles how about using a single sprite sheet for all the images?

[2018-02-13 15:12] rub1e commented on #331
I'm really unclear what's going on here. Casper's issue description isn't doing it for me

What we currently have on the site seems to be the same as in the description of this issue

This in turn is the same as what's on the website, but the site has white text with transparent background, which sits on their black navbar like so:

![screenshot 2018-02-13 at 15 11 17](https://user-images.githubus

[2018-02-13 16:51] rub1e commented on #336
Answered by #445

[2018-02-13 17:41] rub1e opened #446 "Migrate dwyl/blog repo to dwyl/dwyl-site"
Since nothing actually happens on the blog repo and most of the issues there just refer to issues in this repo, we're going to migrate everything to `dwyl-site`

OPs may be asked to recreate their postings on the new issues

[2018-02-13 19:24] nelsonic commented on #446
Yes, _please_! 👍
_However_ we aren't in a "rush" because we first have to define our "workflow" for _publishing_ the posts.
(_agree with `priority-4`..._)

# tl;dr

We already had/have a `blog` **label** in _this_ repo: https://github.com/dwyl/dwyl-site/labels/blog

"ghost" created the `blog` repo after _totally ignoring_ our conversation on the topic ... 🤦‍♂️
We were _never_ going to have our blo

[2018-02-13 20:12] iteles commented on #331
It is, the problem is that it has an off-white background and looks weird on our clean-white background.

How about something more like this?
![emf-logo](https://www.ellenmacarthurfoundation.org/assets/galleries/insight/_overviewCrop/Foundation_logo.jpg)

[2018-02-13 20:22] nelsonic opened #447 "Google PageSpeed Insights >> Optimise the Site!"
At present the dwyl.com website scores quite poorly on the Google PageSpeed checker:
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdwyl.com
![image](https://user-images.githubusercontent.com/194400/36171563-05247552-10fb-11e8-8707-b38ff922e28e.png)

## Todo / Tasks

+ [ ] Optimise Images: https://developers.google.com/speed/docs/insights/OptimizeImages
+ [ ] Move JS (_i

[2018-02-14 08:08] iteles opened #448 "Copy on 404 page"
As a visitor to the site, if I land on a 404 page, I'd like to be promoted with what to do next so it doesn't feel as jarring on my journey.

<hr/>

We're missing the 'remedy' section of https://code.likeagirl.io/the-perfect-apology-7d09ac34eed9

[2018-02-14 08:17] rub1e commented on #446
So much 😻  for this. I want it to be a `priority-1` so I can do it today. FH EOY Accounts might be more important, but fewer Dilbert references

[2018-03-07 14:56] iteles commented on #433
dwyl-feedback.herokuapp.com

[2018-03-20 16:30] rub1e commented on #331
It's weird - I really can't make out the difference - bad eyes I guess 👓

Anyway, will close this once the PR is merged ⛎

[2018-03-26 13:46] #336 closed

[2018-04-12 20:24] nelsonic opened #450 "Sonarwhal Website Lint Report for dwyl.com"
https://sonarwhal.com is an _Open Source_ website scanning tool
that checks for asite's accessibility, speed and common errors.
see: https://github.com/sonarwhal/sonarwhal

![image](https://user-images.githubusercontent.com/194400/38702094-9eda888e-3e97-11e8-843a-573ffa0b6e94.png)

The Scan for the dwyl.com website:
https://sonarwhal.com/scanner/17e38af9-0bb0-43f0-8d42-986c00151158
![image](https:

[2018-04-12 21:31] iteles commented on #450
That's interesting. We have used other tools in the past that have apparently been more 'forgiving':

See https://github.com/dwyl/dwyl-site/issues/14#issuecomment-334194425 and
http://wave.webaim.org/report#/dwyl.com
<img width="250" alt="screen shot 2018-04-12 at 22 27 47" src="https://user-images.githubusercontent.com/4185328/38705295-04795aea-3ea1-11e8-94c6-762c38c14ea6.png">

Also, not being a

[2018-04-13 09:36] nelsonic commented on #450
@iteles yeah, I was _not_ aware of the no `<a>` in `<li>` "rule" either ... 🙄
I _like_ the fact that Sonarwhal can be run on Continuous Integration (Travis-CI) 🔴 / ✅ ?
such that any update to the site will _automatically_ be "_rejected_" if it fails to pass. ⛔️
Also, this goes _way_ beyond Accessibility ... 🔓
_And_ it's Open Source so we can _inspect_ the code 🔍
if/when we need to _understand_ the

[2018-04-13 15:49] iteles commented on #450
Agreed! I had suggested we set up a pa11y pre-commit hook as a starter here: https://github.com/dwyl/dwyl-site/issues/409#issuecomment-334158068

[2018-04-13 16:27] sohilpandya commented on #450
So I was lucky enough to see this one during the conference https://www.youtube.com/watch?v=O_OJfY4Jax4&feature=youtu.be

But we should share this video with everyone.

[2018-04-13 16:44] iteles commented on #450
Oh I'm so glad there's a video of it @sohilpandya, thanks for sharing, the tweets from that session were FANTASTIC!

[2018-04-15 18:09] nelsonic commented on #83
Great talk on "Common ways we break accessibility and how to avoid them" by Laura Carvajal @lc512k
[![image](https://user-images.githubusercontent.com/194400/38781635-3a23f362-40e0-11e8-8657-7e60f34d48ee.png)](https://youtu.be/O_OJfY4Jax4)
https://youtu.be/O_OJfY4Jax4

Shared by @sohilpandya on https://github.com/dwyl/dwyl-site/issues/450#issuecomment-381189479 🥇

[2018-04-16 14:21] Cleop commented on #83
I wrote a draft for this on google docs which @rub1e took a look at and gave some feedback. It's not progressed further yet.

[2018-04-17 08:36] Rupeshiya commented on #408
@ZooeyMiller Removed .travis.yml #451

[2018-04-17 08:45] nelsonic commented on #408
We _may_ end up needing the `.travis.yml` file to run our "Sonarwhal" tests see: #450
but it will need to be re-written, so "OK" to remove now. 👍

[2018-04-17 08:45] #408 closed

[2018-04-17 11:41] Rupeshiya commented on #356
From where to get live app link ?

[2018-04-17 11:43] iteles commented on #356
They're not up yet @Rupeshiya, we're waiting for permission to share a couple of these still!

[2018-04-17 12:13] Rupeshiya commented on #356
ok @iteles  waiting for link.!

[2018-04-20 09:52] Rupeshiya commented on #288
@iteles
Hi,I am Rupesh and I am a contributor in dwyl group and love to work in the group of people  who enjoy their work and finishes it off with all efforts.

[2018-04-28 22:56] iteles opened #452 "GDPR compliance | Review consents needed"
We have two forms that capture data on our website:
https://dwyl.com/time-app and
https://dwyl.com/#contact

We need to ensure the consent here is clear and opt-in for GDPR compliance.

[2018-05-23 10:59] rub1e commented on #331
Closed with #449

[2018-05-25 19:48] nelsonic commented on #77
Good thread on security of OS vs Closed:
https://security.stackexchange.com/questions/4441/open-source-vs-closed-source-systems
We should include a paragraph on security.

[2018-05-25 22:13] olstenlarck commented on #77
Hey, here's one more pretty fantastic post about OSS

https://medium.com/@ken_wheeler/a-bitter-guide-to-open-source-a8e3b6a3c1c4

[2018-06-06 13:55] Rupeshiya commented on #356
@iteles  Can you provide the link now?

[2018-06-06 20:44] iteles commented on #356
@Rupeshiya Are you looking for any in particular?

[2018-07-04 14:59] rub1e opened #453 "Change address on the contact form to Space4"
* [ ] Update the site with our new address

[2018-07-13 17:03] iteles opened #454 "Update copyright date on website"
We need to update this from 2017 to 2018 😊
<img width="202" alt="screen shot 2018-07-12 at 11 58 51" src="https://user-images.githubusercontent.com/4185328/42629372-00a703ba-85cb-11e8-926f-e2209ee59210.png">

[2018-07-13 18:10] iteles opened #455 "Update address on website"
From Palmers Road to:
dwyl, First Floor, 149 Fonthill Rd, London N4 3HF

<img width="518" alt="screen shot 2018-07-12 at 11 59 34" src="https://user-images.githubusercontent.com/4185328/42629438-304156d4-85cb-11e8-8626-6fddaa593e02.png">

[2018-07-13 18:10] iteles commented on #455
Oops, sorry, duplicate of #453

[2018-07-13 18:10] #455 closed

[2018-07-18 15:12] rub1e commented on #453
Another one for you @sophielevens

(I'm actually capable of doing this one, but my chromebook isn't playing ball 😞 )

[2018-07-18 15:13] rub1e commented on #453
Do we want to include Space 4 in the footer? My feeling is not

Thoughts?

[2018-07-24 15:10] rub1e commented on #305
Draft saved [here](https://docs.google.com/document/d/1RgzBI8w3DKZQbY6lmO-2csVLIoArTfEaYByFizLGX0g/edit?usp=sharing) - please let me know your thoughts @iteles 💭

[2018-07-25 10:30] Cleop opened #458 "Update Cookie Consent for GDPR"
As a user
I want to have the freedom to consent or decline from the use of Cookies
So that I know how my personal data is being used and that the EU law is being followed.

- [ ] Cookies are switched off by default
- [ ] A modal appears on every page which offers two options:
    - Option 1 - Grant consent
    - Option 2 - Do not grant consent
- [ ] If a user clicks to consent the modal no longer

[2018-07-25 11:36] nelsonic commented on #458
@Cleop I feel that we don't _need_ cookies on the website except for for Google Analytics
and we can _easily_ "initialise" GA ***`after`*** cookie consent is given.
The way you have done this for "CI" is _roughly_ what we need for the dwyl site.
But we need a _detailed_ write-up of how it works (_think technical blog post_)
because this is highly re-useable content.
Thanks! 👍

[2018-07-25 16:18] Cleop commented on #458
@nelsonic I totally agree, dwyl site doesn't need many cookies which makes life easier!

I was wondering more specifically whether you had any thoughts on if it's GDPR compliant to use a cookie to remember if someone chose actively _not_ to give cookie consent? As in, once you say you don't want cookies, can a cookie still be used if it's not storing identifiable personal data?

This is a question

[2018-07-25 16:36] nelsonic commented on #458
@Cleop nah, kinda by definition it's not kosher to use a cookie to store the rejection of cookies ...
For CI we should put the cookie preference in the Elm Model so that the person will not be "nagged" for the remainder of their _current_ session.
cookie prefs question/banner should be delayed e.g:
`onLoad setTimeout(function () { checkGDPRCookieConsent() }, 3000 )`

If people are going to _reject

[2018-07-25 16:50] rub1e commented on #313
@sophielevens another one for you, if you can manage it?

[2018-07-26 09:33] Cleop commented on #458
Thanks @nelsonic, interesting.

In the case of CI, we have multiple elm apps running and therefore if a user were to navigate to another page which is running a different elm app then the information regarding their preferences would be lost.

Can you think of a way to overcome this?

Or do you think we should pursue a different route altogether with this in mind?

[2018-07-26 17:41] nelsonic commented on #458
@Cleop in the case of having _multiple_ Elm apps running on the _same_ website,
we need to get _creative_ ...
First question **`before`** we dive into trying to solve a ***complex*** problem is:
do we _need_ to have ***multiple*** Elm apps? (_or can we initialise the **same** app with different "flags" depending on the page being loaded?_)

[2018-07-27 08:57] Cleop commented on #458
@nelsonic I like the idea of that approach, I think in these specific circumstances the time/budget constraint of the client and the scale of the app would make that unfeasible.

Can you think of any faster options or do you think that is realistically the fastest solution?

[2018-07-27 13:57] Cleop commented on #458
Awesome, thanks for the insight @nelsonic, I've been able to implement this 👍 😊

[2018-08-07 14:06] rub1e commented on #453
![screenshot 2018-08-07 at 15 03 52](https://user-images.githubusercontent.com/11595920/43780838-6fc5138a-9a53-11e8-8822-42a0e00c948f.png)

I'm not angry, I'm just disappointed

[2018-08-07 14:24] rub1e commented on #453
Closing as address has been successfully updated across the website

[2018-08-13 20:55] nelsonic opened #461 "DWYL Site Build Failing (no package.json or .travis.yml file...)"
As per the readme, the dwyl website is hosted by GitHub Pages and cached by CloudFlare:
![dwyl-site-hosted-with-github-pages-cloudflare-for-ssl](https://user-images.githubusercontent.com/194400/44056539-7b2bafee-9f40-11e8-83a6-eede30ae9f50.png)

There is a "view it locally" section: https://github.com/dwyl/dwyl-site#viewing-locally
![dwyl-site-viewing-it-locally](https://user-images.githubusercont

[2018-08-15 12:57] nelsonic commented on #218
@Cleop could you please add a comment with your conclusion on this quest so that we know where/how to pick up and complete it. thanks! 👍

[2018-08-23 20:21] iteles opened #464 "Broken link for Healthlocker in portfolio"
Whilst reviewing PR https://github.com/dwyl/dwyl-site/pull/459 I updated a couple of client routes but forgot to update them _all_ in `portfolio.html` 🤦‍♀️

![image](https://user-images.githubusercontent.com/4185328/44549882-d8091280-a722-11e8-981c-0f6cd563ba13.png)

The link for Healthlocker is broken.

[2018-08-23 20:27] nelsonic commented on #464
@iteles well-spotted.

[2018-08-23 20:51] #464 closed

[2018-08-23 21:29] nelsonic opened #466 "Create ThomasCook Money (Roam Insurance) Case Study"
While creating https://github.com/lpil/elm-companies/pull/29
I realised that we still haven't _published_ our "Case Study" for the Roam Insure Progressive Web App.
This is a "fail" on my part as I've been "busy" with other things ... 🤦‍♂️ 🙄

[2018-08-23 21:32] nelsonic commented on #466
Copy starting point:

<hr />

* [ThomasCook Money > "Roam" (Travel Insurance)](https://roaminsure.co.uk)
  ([GitHub](https://github.com/ThomasCookOnline)) - ThomasCook ("TCG")
  is a 177 year old Travel company famous for _inventing_
  and popularising "all-inclusive package holidays".
  The Elm Elm Progressive Web Application (PWA)
  is hosted at: https://roaminsure.co.uk (feedback welcome!)
  TC

[2018-08-24 11:59] nelsonic commented on #466
Green light:
![image](https://user-images.githubusercontent.com/194400/44583486-d896bd00-a7a5-11e8-9d45-8238f61272a4.png)

[2018-08-25 20:47] iteles commented on #466
🎉 @nelsonic Any screens we should include in the case study in particular?

[2018-08-27 11:18] iteles opened #467 "Update Thomas Cook logo"
Update the TC logo before the TC Serverless case study can be linked to from our portfolio page:
https://dwyl.com/case-studies/thomas-cook/tc-serverless

From:
![image](https://user-images.githubusercontent.com/4185328/44656979-72a37300-a9fb-11e8-8ae6-7cea5dfc4ff5.png)

To:
http://www.stickpng.com/img/icons-logos-emojis/iconic-brands/thomas-cook-logo

![thomas-cook-logo](https://user-images.github

[2018-09-04 06:12] nelsonic commented on #466
"_Another thing I would **really** like to see..._"
https://youtu.be/uGlzRt-FYto?t=38m5s “What is Success?” by Evan Czaplicki (Elm Europe)

[2018-09-09 05:05] nelsonic commented on #356
https://youtu.be/ns4TC_hEGKk
![image](https://user-images.githubusercontent.com/194400/45261258-61446880-b3f6-11e8-825c-9a3102a55d06.png)

[2018-10-12 09:06] rub1e opened #468 "Remove mention of Focus Hub from site"
A recent email to hello@ asked about our co-working space, FocusHub. Since it no longer exist, this should be removed from the copy on the site

* [ ] Remove mention of FH from the website

[2018-10-12 09:10] rub1e commented on #468
Answered by #469

[2018-10-12 09:12] rub1e opened #470 "Merging without a review"
I've just noticed that you can merge into master without having your PR reviewed in this repo - is that deliberate or an oversight?

Is there a set process for the permissions in dwyl repos?

[2018-10-13 13:50] nelsonic commented on #468
Thanks @rub1e. 👍🏻

[2018-10-13 13:50] #468 closed

[2018-11-21 12:59] nelsonic commented on #470
https://github.com/dwyl/protect-master-branch

[2018-11-21 13:00] nelsonic commented on #470
Assigned to Inês, because I am not the "owner" of this project.
If it were up to me the dwyl "site" would be a landing page for our _product_.

[2018-11-21 13:17] iteles commented on #470
`master` branch now protected.
![image](https://user-images.githubusercontent.com/4185328/48843695-ab02e500-ed8f-11e8-951f-9f0570b4a422.png)

Now we have discussed that we will be moving back to product and we have a clear path to it (https://github.com/dwyl/technology-stack/issues/67), we can start working on our product landing page again 🎉

[2018-11-21 13:17] #470 closed

[2018-12-18 16:58] rub1e opened #471 ""On-boarding" people into the dwyl org on github"
Currently the invitation to `join us` on the dwyl site (https://dwyl.com/community) just links to the [list of members](https://github.com/orgs/dwyl/people) and so needs to be updated.

Currently, we point people to [this issue](https://github.com/dwyl/start-here/issues/143) when they ask about joining, so we should probably think of what a better `on-boarding` experience might look like, but in t

[2019-01-02 16:52] rub1e opened #473 "2019ing the site"
It's 2019!

Thanks to @Cleop for pointing out the below at https://dwyl.com/values

![screenshot 2019-01-02 at 16 26 58](https://user-images.githubusercontent.com/11595920/50601272-9dbb3900-0eab-11e9-9d38-d0f794d154b2.png)

This needs updating generally, rather than just changing 2018 > 2019. I'd make a suggestion but I don't really know where we are / want to be with our carbon 👣

I've also spott

[2019-01-16 08:42] rub1e commented on #471
Now that we have [a stopgap](https://github.com/dwyl/dwyl-site/pull/472), we can have a think about the best way of welcoming people into the organisation, while reducing the amount of admin / monitoring required

Other than people just not reading the instructions and emailing `hello@` to get an invite, what are some of the pain points?

I was thinking that we do get a handful of approaches askin

[2019-01-23 16:12] rub1e commented on #473
* **Values**
  * "We recycle and plan to be carbon neutral by 2018, but it’s not just the planet’s environment we want to improve. We love projects that have a positive effect on the world."
* **Home**
  * "We expect the building works to be done by the end of September and the first "MVP" members to join us in October 2018. We are able to "Alpha UX Test" the app with friends & co-workers before w

[2019-02-19 14:15] Cleop commented on #454
Closing as I can see this now on the site
![image](https://user-images.githubusercontent.com/16775804/53021253-b332f500-3450-11e9-8071-e97b59844ac7.png)
@rub1e has opened: https://github.com/dwyl/dwyl-site/issues/473 for 2019 versions.

[2019-02-19 14:15] #454 closed

[2019-07-31 22:02] manfordbenjamin opened #475 "Broken link for Quodl case-studies page "visit the site" button link"
On the Quodl case-studies page, the button to visit the external link is broken and returns a 404.

[2019-08-01 18:31] iteles commented on #475
Good catch @manfordbenjamin !
Thanks for raising the issue.

Should be an easy fix, it's a link issue on our side:
![image](https://user-images.githubusercontent.com/4185328/62318114-f9c25c00-b492-11e9-9010-92d260fb7ae2.png)

[2019-08-01 20:20] manfordbenjamin commented on #475
Thank you @iteles

[2019-08-04 11:26] iteles commented on #475
Hey @manfordbenjamin, this should not be fixed! Could you please test it and if fixed, close this issue? 😊

[2019-08-04 12:54] manfordbenjamin commented on #475
@iteles Thank you for the fixed :)

[2019-08-04 12:54] #475 closed

[2019-09-06 12:20] #467 closed

[2019-09-30 21:30] Dana94 commented on #448
@iteles I'd like to take this on. Are you looking for something specific for the 'remedy' part? Like a button returning to the home page?

[2019-10-02 13:17] iteles commented on #448
Hi @Dana94, that would be awesome!  🎉
At this stage maybe contacting us is the right remedy? But if you have any other thoughts, super happy to hear them.

Please do include a screenshot in your PR too!

[2019-10-02 22:17] Dana94 commented on #448
@iteles I didn't make a PR yet, but I wanted to ask about the dwyl color being used for the link. I'm following what was done on the page in the second image. I noticed that the contrast ratio is too low. I was wondering if I change the 404 link to a more readable color, should other pages with a link on the white background follow this change? Or should I just keep the links as the dwyl color no

[2019-10-03 11:35] iteles commented on #448
@Dana94 This is a great catch, we definitely want to make sure we have enough contrast for accessibility. Could you please open a separate issue on this as it's relevant to all link across the site? Hopefully will be a quick fix in the CSS.

[2019-10-04 00:27] Dana94 opened #479 "Link Color Contrast is Too Low"
Referencing issue #448
Some of the links don't have a high enough color contrast ratio for accessibility.

![66085867-6b289480-e540-11e9-9bfe-92305f22feb4](https://user-images.githubusercontent.com/20132264/66172979-02164f00-e61c-11e9-94a8-c9bd299f9e32.png)

[2019-10-06 22:32] stroudn1 commented on #479
Hi @Dana94 ! Are you looking for what links have low contrast or for fixes? What specific colors would you be looking for? I'd be interested in looking into this :)

[2019-10-07 10:27] #448 closed

[2019-10-07 10:28] iteles commented on #479
@Dana94 @stroudn1 Which colour hex would you propose as an alternative?
I'm assuming all links on the site are the same colour but it's worth double-checking this in the CSS & HTML too!

[2019-10-07 11:24] Dana94 commented on #479
@stroudn1 Great, I'll assign this to you. 😃

@iteles I haven't had a chance to go through the whole site yet but it seems the color contrast issues are primarily on the white sections of the site. For example, the links on the [portfolio page](https://dwyl.com/portfolio).

![image](https://user-images.githubusercontent.com/20132264/66307532-ac1f0100-e8d2-11e9-94fc-d6a914ba15f9.png)

I would sugges

[2019-10-11 04:55] stroudn1 commented on #479
Hi @Dana94 ! I just wanted to let you know I'm ready to make the pull request but I seem to be getting an error when I try to run `git commit -m`. I'm still trying to debug my issue.
![image](https://user-images.githubusercontent.com/17433156/66625307-b9353c00-ebc1-11e9-815d-a45e34be21c4.png)

[2019-10-11 09:39] iteles commented on #479
@stroudn1 It looks like @codybarr has submitted a PR for this already!

![image](https://user-images.githubusercontent.com/4185328/66641546-e100c000-ec12-11e9-8345-292c7f288b46.png)

I haven't had a chance to review it yet but if you're able to take a look and add review comments (let  us know if you need some help with that) maybe that would be a good first step?

[2019-10-11 22:13] Dana94 commented on #479
@stroudn1 Try this:

`> git commit -n`
You should see something like this if using Git bash, mine is Nano.
![image](https://user-images.githubusercontent.com/20132264/66687794-f517e200-ec51-11e9-8af2-d34cf8434e3a.png)
Enter in your message, it shows in yellow in the image.
![image](https://user-images.githubusercontent.com/20132264/66687805-006b0d80-ec52-11e9-89e3-a84589ad818f.png)
Ctrl + x to sav

[2019-10-11 22:46] codybarr commented on #479
Sorry @stroudn1 saw this was still up for grabs. I should have checked with you first to see if you had already started work on this.

[2019-10-11 23:40] stroudn1 commented on #479
@codybarr no worries! I'm still learning/trying to fix my error. I'm going to see if I can fix it and send a PR too if that's cool with you and @Dana94

Thank you for the steps @Dana94 ! I'm going to give this a try. And thank you as well @iteles

[2019-10-13 08:46] manfordbenjamin opened #485 "Can anyone add him/herself to the teams page"
@nelsonic @iteles I wanted to find out if anyone at all can add him/herself to the teams page or it's limited to core team members only??

[2019-10-13 15:07] iteles commented on #485
@manfordbenjamin For now, core team members only ☺️ We’ll be altering the website soon as we evolve what dwyl does with http://www.github.com/dwyl/home and will have more of an ‘active community members’ type page, at which point we can open a new issue on this! I’ll make sure I tag you 😁

Thanks for asking 🎉

[2019-10-14 06:21] #485 closed

[2019-11-13 12:25] nelsonic opened #486 "App Homepage Ideas?"
Please share your homepage ideas. :bulb: :wink:

[2020-04-15 19:32] iteles commented on #58
No longer relevant

[2020-04-15 19:32] #58 closed

[2020-04-17 15:46] iteles commented on #304
The vast majority of these were obtained at the time. No longer relevant.

[2020-04-17 15:46] #304 closed

[2020-04-17 15:46] iteles commented on #305
We got a few from this which I have archived but not relevant to our current iteration.
See https://github.com/dwyl/home

[2020-04-17 15:46] #305 closed

[2021-10-07 16:30] nelsonic opened #487 "Contact Form `SPAM` 😢"
Just got 12 identical emails:
![image](https://user-images.githubusercontent.com/194400/136422742-0730fc67-5b65-4a92-9e31-076edb580a9c.png)

All the same ... this person "_chasing_" to be given write-access to on of our GitHub repos:
<img width="780" alt="spam-email-probrem" src="https://user-images.githubusercontent.com/194400/136423737-7291a660-d418-426a-ad57-e31e1c7ed7f4.png">

But we get a _lo

[2021-12-03 22:56] Arhell opened #488 "update favicons"
i update soon
https://realfavicongenerator.net/favicon_checker?protocol=https&site=dwyl.com%2F#.YaqgddBByMo

[2021-12-03 23:19] nelsonic commented on #488
@Arhell very insightful. Thanks for sharing!

![image](https://user-images.githubusercontent.com/194400/144685096-bc8a746e-dc9f-4146-a502-3d720c713901.png)

[2021-12-07 14:04] Arhell opened #490 "Suggestion, can you upgrade the site to some kind of engine?"
Jekyll for example
To make it easier to work

[2022-06-20 18:38] #490 closed

[2022-10-11 10:37] nelsonic commented on #356
No longe relevant as we are not going to focus on a "portfolio".
We are 100% All-in on building our **`App`** now.

**`GOTO`**: https://github.com/dwyl/mvp/issues/140

[2022-10-11 10:37] #356 closed

[2022-10-11 10:39] #479 closed

[2022-10-11 10:46] nelsonic commented on #43
No longer relevant.
We may revisit displaying specific tweets in the future as "social proof" e.g: https://trezor.io/

![image](https://user-images.githubusercontent.com/194400/195070425-7acfd87b-ce6d-4418-a392-a18ea115a7d5.png)

But for now this is not our focus.
Closing.

[2022-10-11 10:46] #43 closed

[2022-10-11 10:47] nelsonic commented on #473
Thanks for making these updates at the time @rub1e 👍
Closing. ✅

[2022-10-11 10:47] #473 closed

[2022-10-11 10:48] nelsonic commented on #471
This will be resolved by: https://github.com/dwyl/start-here/issues/255 👨‍💻

[2022-10-11 10:48] #471 closed

[2022-10-11 10:49] nelsonic commented on #80
We will be wiping this repo and starting fresh soon. 🔜
Closing my own issue. ✅

[2022-10-11 10:49] #80 closed

[2022-10-11 10:50] nelsonic commented on #466
This was _super_ relevant at the time when we were doing services/contract work. ⏳
Now, zero relevance. ✅

[2022-10-11 10:50] #466 closed

[2022-10-11 10:50] nelsonic commented on #461
Build still failing. 😢
But we will be re-doing the size very soon without any `package.json` to break. 🎉
Closing. ✅

[2022-10-11 10:50] #461 closed

[2022-10-11 10:51] nelsonic commented on #433
Heroku is no longer viable for Hobby Apps. We need to re-build and re-deploy to Fly.io ...

[2022-10-11 10:51] #433 closed

[2022-10-11 10:52] nelsonic commented on #437
Case studies are now legacy.
All-in on building the **`App`**.
`GOTO`: https://github.com/dwyl/mvp/issues/140

[2022-10-11 10:52] #437 closed

[2022-10-11 10:53] nelsonic commented on #185
Our "offering" will become _dramatically_ simpler in the next few weeks/months. One thing in fact. an **`App`**. 📱 ✅

[2022-10-11 10:53] #185 closed

[2022-10-11 10:54] nelsonic commented on #197
Not posting to LinkedIn for the foreseeable future. Closing. ✅

[2022-10-11 10:54] #197 closed

[2022-10-11 10:56] nelsonic commented on #143
Loved seeing this ancient photo. 😍
Closing as no longer relevant. ✅

[2022-10-11 10:56] #143 closed

[2022-10-11 10:56] nelsonic commented on #355
Good idea. No follow through. Closing. ✅

[2022-10-11 10:56] #355 closed

[2022-10-11 10:57] #70 closed

[2022-10-11 10:59] nelsonic commented on #308
**ghost** unassigned [Cleop](https://github.com/Cleop) ...
indeed. 👻

No longer relevant as we aren't building _anything_ for anyone else again. ✅

[2022-10-11 10:59] #308 closed

[2022-10-11 11:02] nelsonic commented on #323
**`ghost`** indeed ... 👻
The internet doesn't forget even if you want it to. 🤷‍♂️
**`Web3`** will be _so_ much worse as distributed copies of _everything_ will persist for ever. 🕸️

https://twitter.com/iamdevloper/status/1085191415401897986
![image](https://user-images.githubusercontent.com/194400/195073538-344c927d-d256-4fb4-bb39-574caba306b1.png)

[2022-10-11 11:02] #323 closed

[2022-10-11 11:03] nelsonic commented on #220
Contact form will be phased out ASAP as the **`SPAM`** is killing me!
`GOTO`: #487

[2022-10-11 11:03] #220 closed

[2022-10-11 11:14] nelsonic commented on #143
Snapshot of current site before we archive it:

![image](https://user-images.githubusercontent.com/194400/195075433-f44967c9-d2a6-4e67-8529-1af3c5b6751e.png)

![image](https://user-images.githubusercontent.com/194400/195075469-978e7ddc-723e-4f11-9d0b-0ac8f1cf0b3b.png)

![image](https://user-images.githubusercontent.com/194400/195075497-aa70510f-9557-4b9a-b023-2eaa73077498.png)

![image](https://us

[2022-10-11 11:15] nelsonic commented on #143
https://dwyl.com/team
![image](https://user-images.githubusercontent.com/194400/195075883-937a8f29-28ab-4708-b5af-bb469a4bba49.png)

All these lovely people! 😍

[2022-10-11 11:15] nelsonic commented on #143
https://dwyl.com/values
![image](https://user-images.githubusercontent.com/194400/195076064-e321f4eb-260f-4ad4-96d2-a9dd316d450d.png)

[2022-10-11 14:51] nelsonic opened #493 "EPIC: New Site --> App-focussed! 📱"
# Warning: This is an **`Epic`** ⚠️

There is at _least_ a month worth of work in this **`Epic`**. ⏳
It needs to be broken down in to sub-issues/tasks to be "**_ready_ for `dev`**".
Right now I'm just trying to answer a **_quick_ question**: Why is the **`dwyl`** website so **out-of-date**? 🤷‍♂️

The fast/short answer is: we haven't been focussed on the website for the last year because:
a. Nelson

[2022-10-11 14:52] nelsonic commented on #450
https://sonarwhal.com/
![image](https://user-images.githubusercontent.com/194400/195076175-3488e103-0821-446c-a7b9-30afb5744831.png)

Rebranded as https://webhint.io/
![image](https://user-images.githubusercontent.com/194400/195076312-10489c73-c559-4a58-9c54-8ecfe3b4fed2.png)

Still _super_ on-board with this. https://github.com/webhintio/hint
Definitely going to need _something_ like this for the

[2022-10-11 14:52] nelsonic commented on #395
Agree that we will need to update the `README.md` when the **`new`** site https://github.com/dwyl/dwyl-site/issues/493 is launched.

[2022-10-11 14:52] #395 closed